.posco-temp-flow.json.backup
[{"id":"50560b04.fa77e4","type":"tab","label":"Simulator","disabled":false,"info":"CREATE TABLE t_data_send_log\n(\n    `uuid`      VARCHAR(32)        NOT NULL    COMMENT 'uuid' PRIMARY KEY, \n    `time`        DATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          VARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`        INT              NOT NULL    COMMENT 'port',\n    `message`\t  VARCHAR(10)\t  NULL        COMMENT 'message',\n    `dataLength`  INT              NOT NULL    COMMENT 'dataLength', \n    `dataDetail`  VARCHAR(2000)    NOT NULL    COMMENT 'dataDetail'\n);"},{"id":"dd48b724.c803f8","type":"tab","label":"Data Receive","disabled":false,"info":""},{"id":"34b94727.384758","type":"subflow","name":"Get Base64 Image ","info":"","in":[{"x":250,"y":160,"wires":[{"id":"2fc286d5.3e865a"}]}],"out":[{"x":960,"y":160,"wires":[{"id":"c6e49cd5.2022d","port":0}]}]},{"id":"752a8e2f.7b64e","type":"subflow","name":"POST [LADLE] Process","info":"","in":[{"x":80,"y":160,"wires":[{"id":"8e394708.fe7208"}]}],"out":[]},{"id":"e276fd36.0dbb5","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5917ca98.c95784","type":"MySQLdatabase","z":"","host":"219.251.4.236","port":"3306","db":"posco","tz":""},{"id":"8cdc6cde.40f04","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"93cf362b.996aa8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"ab654237.68934","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"c8540511.1f9cb8","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f50fee7.d824c","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":""},{"id":"8181593f.ab1698","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"1c7f7996.7495a6","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e6cdcdd.82fd84","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"5af58e3d.59b3c","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"de539798.99f998","type":"mysql","z":"34b94727.384758","mydb":"5f50fee7.d824c","name":"","x":670,"y":160,"wires":[["c6e49cd5.2022d"]]},{"id":"2fc286d5.3e865a","type":"function","z":"34b94727.384758","name":"count init & create sql","func":"console.log(msg);\nif (msg.type === \"KR\") {\n    if (context.global.krcount === NaN || context.global.krcount == 11) {\n        context.global.krcount = 1;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.krcount++;\n} else if (msg.type === \"LADLE\"){\n    if (context.global.ladlecount === NaN || context.global.ladlecount == 22) {\n        context.global.ladlecount = 11;\n    }\n    console.log(\"ladle : \" + context.global.ladlecount);\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.ladlecount++;\n}\nconsole.log(msg.topic);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["de539798.99f998"]]},{"id":"c6e49cd5.2022d","type":"json","z":"34b94727.384758","name":"","property":"payload","action":"","pretty":false,"x":830,"y":160,"wires":[[]]},{"id":"164f20fa.f53e7f","type":"comment","z":"50560b04.fa77e4","name":"L2 Data Sender","info":"","x":100,"y":480,"wires":[]},{"id":"5382d6f.58c0328","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["ef5ebf1d.21ffc"]]},{"id":"d4c227cd.6a6998","type":"function","z":"50560b04.fa77e4","name":"Make Data","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n    }\n    // ensure that the uid is unique for this page\n    return out;\n}\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *10000);\n    var topValue = Math.round(Math.random() *100);\n    return topValue + \".\" + bottomValue;\n}\nvar base64Image = JSON.parse(msg.payload);\nvar strImage = base64Image[0].value;\n\nvar postLadleData = {\n    id : \"CAM01\",\n    t : parseFloat(getRandomTemperator()),\n    image : strImage\n};\n\nmsg.payload = postLadleData;\n\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["11636b67.f612b5"]]},{"id":"20ce36a7.3844aa","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["fe4865ce.a3b098"]]},{"id":"65242e2b.deb07","type":"config","z":"50560b04.fa77e4","name":"Global Init Data","properties":[{"p":"LogFormat","pt":"global","to":"{\"send\":\"t_data_send_log\",\"image_Server_IP\":\"192.168.0.104\",\"send_Port\":52003,\"recv\":\"t_data_receive_log\",\"column\":[\"uuid\",\"ip\",\"port\",\"message\",\"dataLength\",\"dataDetail\"]}","tot":"json"},{"p":"SendDataFormat","pt":"global","to":"{\"title\":[\"TcNo\",\"pltNo\",\"L2_Stime\"],\"reName\":[\"TcNo\",\"pltNo\",\"L2_Stime\"],\"len\":[4,10,23]}","tot":"json"},{"p":"RollFormat","pt":"global","to":"{\"db\":\"t_rolling_detail\",\"length\":105,\"title\":[\"Time\",\"TcNo\",\"pltNo\",\"slabAngle\",\"rollPos_01\",\"rollPos_02\",\"rollPos_03\",\"rollPos_04\",\"rollPos_05\",\"rollPos_06\",\"rollPos_07\",\"rollPos_08\",\"rollPos_09\",\"rollPos_10\",\"rollPos_11\",\"rollPos_12\",\"rollPosAvg_01\",\"rollPosAvg_02\",\"rollPosAvg_03\",\"rollPosAvg_04\",\"rollPosAvg_05\",\"rollPosAvg_06\",\"rollPosAvg_07\",\"rollPosAvg_08\",\"rollPosAvg_09\",\"rollPosAvg_10\",\"rollPosAvg_11\",\"rollPosAvg_12\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"b\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[14,4,10,5,1,1,1,1,1,1,1,1,1,1,1,1,5,5,5,5,5,5,5,5,5,5,5,5]}","tot":"json"},{"p":"SlabFormat","pt":"global","to":"{\"db\":\"t_slab_detail\",\"length\":163,\"title\":[\"TcNo\",\"pltNo\",\"stClsFlag\",\"slabThick\",\"slabWidth\",\"slabLength\",\"slabWeight\",\"rollSchema\",\"cheCa\",\"cheNb\",\"cheV\",\"cheTi\",\"cheMo\",\"cheSi\",\"cheNi\",\"cheCr\",\"cheS\",\"cheP\",\"cheMn\",\"cheC\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"f\",\"f\",\"f\",\"i\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[4,10,2,6,5,5,10,1,10,10,10,10,10,10,10,10,10,10,10,10]}","tot":"json"},{"p":"FormatData","pt":"global","to":"[{\"TcNo\":\"slab\",\"TcNoPosition\":[0,4],\"DataLength\":163},{\"TcNo\":\"roll\",\"TcNoPosition\":[14,18],\"DataLength\":105}]","tot":"json"}],"active":true,"x":160,"y":100,"wires":[]},{"id":"5feea141.50383","type":"comment","z":"50560b04.fa77e4","name":"[ 관리자 내부 변수 초기화 ]","info":"","x":120,"y":60,"wires":[]},{"id":"72d18b17.63ef24","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["77398f44.ee36","59d4a985.3c4458"]]},{"id":"77398f44.ee36","type":"function","z":"50560b04.fa77e4","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\ncontext.global.todaydate = date.yyyymmdd();\n// context.global.set(\"YYYYMMDD\", \"20180101\");\n\nreturn;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[[]]},{"id":"fe4865ce.a3b098","type":"function","z":"50560b04.fa77e4","name":"Make-Data-Set Ver 1.0","func":"//Function Area -----------------------------------------------------------------------------------------\nDate.prototype.yyyymmdd = function() {\n    function pad2(n) {  // always returns a string\n        return (n < 10 ? '0' : '') + n;\n    }\n\n    return this.getFullYear() +\n        pad2(this.getMonth() + 1) + \n        pad2(this.getDate()) +\n        pad2(this.getHours()) +\n        pad2(this.getMinutes()) +\n        pad2(this.getSeconds());\n};\n\nfunction getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(size) {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getBooleanData(value) {\n    if (value) {\n        return Math.round((Math.random() * 1) + 0) === 0;    \n    } else {\n        var resultStr = Math.round((Math.random() * 1) + 0) === 0;\n        if (resultStr == true)\n            return 1;\n        else\n            return 0;\n    }\n}\n\nfunction makeData(msgType, format, lastClose) {\n    var size = format.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(format.type[i]) {\n            case 'c' :\n                if (msgType === \"slab\") {\n                    if (i == 0)\n                        output += msgType;\n                    else\n                        output += getUID(format.len[i]);\n                } else if (msgType === \"roll\") {\n                    if (i == 1)\n                        output += msgType;\n                    else if (i == 0) {\n                        var date = new Date();\n                        output += date.yyyymmdd();\n                    } else\n                        output += getUID(format.len[i]);\n                }\n                break;\n            case 'f' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n            case 'b' :\n                output += getBooleanData(false);\n                break;\n            case 'i' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n        }\n    }\n    if (lastClose === true)\n        output += \"\\n\";\n    console.log(output);\n    console.log(output.length);\n    return output;\n}\n//Main Area ---------------------------------------------------------------------------------------------\nvar size = context.global.FormatData.length;\nvar formatArray = [];\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    formatArray.push(format.TcNo);\n}\nvar randomValue = Math.floor(Math.random()*(formatArray.length));\nmsg.payload = makeData(formatArray[randomValue], context.global.FormatObjMap.get(formatArray[randomValue]), false);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["ec85cef4.0fe2"]]},{"id":"5bf54227.942b6c","type":"comment","z":"50560b04.fa77e4","name":"DDS AI Server Sender","info":"","x":120,"y":280,"wires":[]},{"id":"11636b67.f612b5","type":"http request","z":"50560b04.fa77e4","name":"Post Ladle","method":"POST","ret":"obj","url":"http://localhost:1880/thingspin/api/ladle","tls":"","x":890,"y":320,"wires":[["c4d34e1a.a9013"]]},{"id":"c4d34e1a.a9013","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":320,"wires":[]},{"id":"ec85cef4.0fe2","type":"tcp request","z":"50560b04.fa77e4","server":"localhost","port":"30000","out":"sit","splitc":" ","name":"","x":590,"y":520,"wires":[["888c956f.a7aa68"]]},{"id":"888c956f.a7aa68","type":"function","z":"50560b04.fa77e4","name":"Response Data Convert","func":"var resultStrData = msg.payload.toString('utf-8');\nmsg.payload = resultStrData;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["c1b5f3ce.b6e33"]]},{"id":"c1b5f3ce.b6e33","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":520,"wires":[]},{"id":"2e0775f5.7839ea","type":"subflow:34b94727.384758","z":"50560b04.fa77e4","name":"","x":510,"y":320,"wires":[["d4c227cd.6a6998"]]},{"id":"ef5ebf1d.21ffc","type":"function","z":"50560b04.fa77e4","name":"Set Type","func":"msg.type = \"LADLE\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["2e0775f5.7839ea"]]},{"id":"59d4a985.3c4458","type":"function","z":"50560b04.fa77e4","name":"Init Format Map","func":"if (context.global.FormatObjMap === undefined || context.global.FormatObjMap === null)\n    context.global.FormatObjMap = new Map();\n\nvar size = context.global.FormatData.length;\nconsole.log(size);\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    if (format.TcNo === \"slab\")\n        context.global.FormatObjMap.set(format.TcNo, context.global.SlabFormat);\n    else if (format.TcNo === \"roll\")\n        context.global.FormatObjMap.set(format.TcNo, context.global.RollFormat);\n}\n\ncontext.global.krcount = 1;\ncontext.global.ladlecount = 11;\n\nconsole.log(context.global.FormatData);\nreturn;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[[]]},{"id":"5d84f388.27d96c","type":"http response","z":"752a8e2f.7b64e","name":"","statusCode":"","headers":{},"x":650,"y":140,"wires":[]},{"id":"6f552c79.1318c4","type":"function","z":"752a8e2f.7b64e","name":"response-ladle","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    result:\"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["5d84f388.27d96c"]]},{"id":"8e394708.fe7208","type":"function","z":"752a8e2f.7b64e","name":"construct","func":"var p = msg.payload;\nvar metric = {};\n\nvar path = context.global.basePath;\nvar date = context.global.todaydate;\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path + date + \"\\\\\\\\\",\n    image: p.image,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":240,"y":160,"wires":[["6f552c79.1318c4"],["d4f2a15d.eab6c"]]},{"id":"d4f2a15d.eab6c","type":"function","z":"752a8e2f.7b64e","name":"img","func":"var fs = global.get(\"mkdirp\");\n\nfs(msg.path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\n\nvar b = global.get(\"base64-to-image\");\n\nvar filePrefix = context.global.fileLadlePrefix;\n\nvar image = msg.image;\nvar path = msg.path;\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\nvar option = {\n    fileName: fileName,\n    type: 'jpg'\n};\n\nvar imageInfo = b(image, path, option);\n\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["b6d44cde.ed66f"]]},{"id":"b6d44cde.ed66f","type":"function","z":"752a8e2f.7b64e","name":"SQL","func":"var sql = \"INSERT INTO t_ladle_capture (uuid, sno, temp, fileName, absPath) values \";\n\nvar r = {\n    uuid: msg._msgid,\n    sno: msg.metric.id,\n    temp: msg.metric.t,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n};\n\nvar values =  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.sno + \"\\\"\" + \",\"\nvalues +=  r.temp + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\"\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["7a6c73ca.86560c"]]},{"id":"7a6c73ca.86560c","type":"mysql","z":"752a8e2f.7b64e","mydb":"8181593f.ab1698","name":"posco-ai","x":780,"y":180,"wires":[[]]},{"id":"23701c6a.59c234","type":"http in","z":"dd48b724.c803f8","name":"LADLE","url":"/thingspin/api/ladle","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["6a758c1.66f6e74"]]},{"id":"6a758c1.66f6e74","type":"json","z":"dd48b724.c803f8","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":160,"wires":[["c6dac266.dd941"]]},{"id":"e001fafa.4e05e8","type":"config","z":"dd48b724.c803f8","name":"Config","properties":[{"p":"basePath","pt":"global","to":"D:\\\\thingspin\\\\server\\\\data\\\\thingspin\\\\images\\\\","tot":"str"},{"p":"filePrefix","pt":"global","to":"KR","tot":"str"},{"p":"fileLadlePrefix","pt":"global","to":"LADEL","tot":"str"}],"active":true,"x":90,"y":40,"wires":[]},{"id":"df2e7acf.6c5a48","type":"tcp in","z":"dd48b724.c803f8","name":"","server":"server","host":"","port":"30000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":160,"y":420,"wires":[["8138f105.b0e6","f0b57f9.9dd9a8"]]},{"id":"8138f105.b0e6","type":"function","z":"dd48b724.c803f8","name":"Data Process","func":"//Function Area -----------------------------------------------------------------------------------------\ncontext.global.dataType = new Map();\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    // var dataMap = new Map();\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i == 0) {\n            sumTotal += (format.len[i])\n            context.global.dataMap.set(format.title[i], str.slice(i, sumTotal))\n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            context.global.dataMap.set(format.title[i], str.slice(sumTotal, sumTotal + format.len[i]));\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n        }\n    }\n    // console.log(context.global.dataMap);\n}\n\nfunction confirmMsg(strData) {\n    var size = context.global.FormatData.length;\n    for (var i=0; i<size; i++) {\n        var format = context.global.FormatData[i];\n        if (strData.length === format.DataLength) {\n            var sliceStr = strData.slice(format.TcNoPosition[0], format.TcNoPosition[1]);\n            if (sliceStr === format.TcNo) {\n                var defineData = context.global.FormatObjMap.get(format.TcNo);\n                translateData(strData, defineData);\n            } else {\n                node.log(\"TcNo : \" + sliceStr + \" Length : \" + strData.length);\n            }\n            \n        } else {\n            continue;\n        }\n    }\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar strData = msg.payload.toString('utf-8');\nconfirmMsg(strData);\n\n\n\n// var mapData = translateData(msg.payload, context.global.SlabFormat);\n// console.log(context.global.dataType);\n//JSON으로 변환시 이용\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'c') {\n        // console.log(value)ds;\n        object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TcNo')\n            msg.tag = value;\n        else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\ncontext.global.dataType = null;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["a9cc58ca.477068","18aa2c3e.b08c04","25c75489.aba50c"]]},{"id":"86994a43.954558","type":"comment","z":"dd48b724.c803f8","name":"Data Slice and Insert to DB","info":"","x":410,"y":480,"wires":[]},{"id":"4b195970.8473a8","type":"comment","z":"dd48b724.c803f8","name":"Input Infomation Insert to DB","info":"","x":420,"y":380,"wires":[]},{"id":"e537182d.9d5668","type":"comment","z":"dd48b724.c803f8","name":"TCP Server Process","info":"","x":130,"y":360,"wires":[]},{"id":"f3643b5d.6563f8","type":"mqtt in","z":"dd48b724.c803f8","name":"","topic":"#","qos":"2","broker":"1c7f7996.7495a6","x":150,"y":760,"wires":[[]]},{"id":"c6efd14b.25afb","type":"tcp in","z":"dd48b724.c803f8","name":"","server":"server","host":"","port":"30010","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":980,"wires":[["a1f30f47.48ca1"]]},{"id":"a1f30f47.48ca1","type":"debug","z":"dd48b724.c803f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":980,"wires":[]},{"id":"c3ecdfad.b6104","type":"comment","z":"dd48b724.c803f8","name":"MQTT Process","info":"","x":120,"y":720,"wires":[]},{"id":"50830e9d.fbf87","type":"comment","z":"dd48b724.c803f8","name":"TCP Server Example Process","info":"","x":160,"y":940,"wires":[]},{"id":"d1b8a278.6cf52","type":"comment","z":"dd48b724.c803f8","name":"HTTP LADLE POST Process","info":"","x":160,"y":120,"wires":[]},{"id":"40ac2979.3ebdd8","type":"mqtt in","z":"dd48b724.c803f8","name":"","topic":"/test/result","qos":"2","broker":"1c7f7996.7495a6","x":160,"y":820,"wires":[["5f7c2417.c8889c"]]},{"id":"4dee1d37.a908e4","type":"tcp out","z":"dd48b724.c803f8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Response","x":560,"y":820,"wires":[]},{"id":"5f7c2417.c8889c","type":"delay","z":"dd48b724.c803f8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":820,"wires":[["4dee1d37.a908e4","7a880a7f.3f1704"]]},{"id":"f0b57f9.9dd9a8","type":"function","z":"dd48b724.c803f8","name":"Set Msg Type","func":"msg.type = \"recv\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["b269c8c0.e48df8"]]},{"id":"c6dac266.dd941","type":"subflow:752a8e2f.7b64e","z":"dd48b724.c803f8","name":"","x":640,"y":160,"wires":[]},{"id":"7a880a7f.3f1704","type":"debug","z":"dd48b724.c803f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":860,"wires":[]},{"id":"b6a63586.8f4378","type":"debug","z":"dd48b724.c803f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":1040,"wires":[]},{"id":"5a2a2706.c2fef8","type":"tcp in","z":"dd48b724.c803f8","name":"","server":"server","host":"","port":"52003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":1040,"wires":[["b6a63586.8f4378"]]},{"id":"a9cc58ca.477068","type":"function","z":"dd48b724.c803f8","name":"Create insert mariadb query ","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(uuid,\";\n    var values = \"(\\\"\" + msg._msgid + \"\\\",\";\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \",\";\n            else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    return result;\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar dataMap = context.global.dataMap;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\nvar queryInputData = makeColumnString(dataFormat, dataMap);\nvar queryStr = \"insert into \" + dataFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["91bae1ad.08f8"]]},{"id":"18aa2c3e.b08c04","type":"function","z":"dd48b724.c803f8","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-slab-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TcNo:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["81b095d6.3309e8"]]},{"id":"81b095d6.3309e8","type":"influxdb batch","z":"dd48b724.c803f8","influxdb":"2e6cdcdd.82fd84","precision":"ms","retentionPolicy":"","name":"","x":930,"y":580,"wires":[]},{"id":"91bae1ad.08f8","type":"mysql","z":"dd48b724.c803f8","mydb":"8181593f.ab1698","name":"","x":890,"y":520,"wires":[[]]},{"id":"b269c8c0.e48df8","type":"function","z":"dd48b724.c803f8","name":"Create Log Data Query ","func":"var sender_ip = \"\";\nif (msg.type === \"recv\")\n    sender_ip = msg.ip.slice(7, msg.ip.length);\nelse\n    sender_ip = msg.ip;\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\nvar queryStr = \"\";\n\nif (msg.type === \"recv\")\n    queryStr = \"insert into \" + context.global.LogFormat.recv + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nelse if (msg.type === \"send\")\n    queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nmsg.topic = queryStr;\nconsole.log(queryStr);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["858328c5.1949d8"]]},{"id":"858328c5.1949d8","type":"mysql","z":"dd48b724.c803f8","mydb":"8181593f.ab1698","name":"","x":830,"y":420,"wires":[[]]},{"id":"25c75489.aba50c","type":"function","z":"dd48b724.c803f8","name":"Set LadleData","func":"function checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"/\" + checkZeroTime(nowTime.getMonth()+1) + \"/\" + checkZeroTime(nowTime.getDate())  + \" \" + checkZeroTime(nowTime.getHours()) + \":\" + checkZeroTime(nowTime.getMinutes()) + \":\" + checkZeroTime(nowTime.getSeconds()) + \".\" + checkZeroTimeMillisec(nowTime.getMilliseconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n        if (valueStr !== undefined)\n            returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n        else if (context.global.SendDataFormat.title[i] === \"L2_Stime\") {\n            returnStr += nowDateFormat();\n        }\n    }\n    if (value == true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\n\nmsg.payload = createDataRefine(false);\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":640,"wires":[["37161511.bf03fa","47d662aa.49b25c"]]},{"id":"37161511.bf03fa","type":"tcp out","z":"dd48b724.c803f8","host":"192.168.0.104","port":"52003","beserver":"client","base64":false,"end":false,"name":"","x":890,"y":640,"wires":[]},{"id":"47d662aa.49b25c","type":"function","z":"dd48b724.c803f8","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\" + \"\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\n\nif (msg.payload !== null) {\n    var queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n    console.log(queryStr);\n    msg.topic = queryStr;\n\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":880,"y":700,"wires":[["b9a34957.e71498","cdb9ba48.506da8"]]},{"id":"b9a34957.e71498","type":"mysql","z":"dd48b724.c803f8","mydb":"8181593f.ab1698","name":"","x":1110,"y":700,"wires":[[]]},{"id":"cdb9ba48.506da8","type":"debug","z":"dd48b724.c803f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":760,"wires":[]},{"id":"83fadb0e.d7fa28","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":760,"wires":[["4af233f7.708cfc"]]},{"id":"e3a66e75.00759","type":"function","z":"50560b04.fa77e4","name":"Set LadleData","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"/\" + checkZeroTime(nowTime.getMonth()+1) + \"/\" + checkZeroTime(nowTime.getDate())  + \" \" + checkZeroTime(nowTime.getHours()) + \":\" + checkZeroTime(nowTime.getMinutes()) + \":\" + checkZeroTime(nowTime.getSeconds()) + \".\" + checkZeroTimeMillisec(nowTime.getMilliseconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        if (context.global.SendDataFormat.title[i] === 'TcNo') {\n            returnStr += msg.sendmsg;\n            continue;\n        } else if (context.global.SendDataFormat.title[i] === \"L2_Stime\") {\n            returnStr += nowDateFormat();\n        } else {\n            if (context.global.dataMap === undefined) {\n                returnStr += getUID(context.global.SendDataFormat.len[i]);\n                continue;\n            } else {\n                var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n                returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n            }\n        }\n    }\n    if (value === true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\nmsg.payload = createDataRefine(false);\n\nconsole.log(msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":880,"wires":[["ad92fae3.7751c8","2304236c.31c35c","22c254c.45f4dac"]]},{"id":"22c254c.45f4dac","type":"tcp out","z":"50560b04.fa77e4","host":"192.168.0.104","port":"52003","beserver":"client","base64":false,"end":false,"name":"","x":930,"y":780,"wires":[]},{"id":"ad92fae3.7751c8","type":"function","z":"50560b04.fa77e4","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_msg = msg.sendmsg;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\" + \"\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + \"\\\"\" + send_msg + \"\\\",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\n\nif (msg.payload !== null) {\n    var queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n    console.log(queryStr);\n    msg.topic = queryStr;\n\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":920,"y":880,"wires":[["7953c7a2.648ab8"]]},{"id":"7953c7a2.648ab8","type":"mysql","z":"50560b04.fa77e4","mydb":"5af58e3d.59b3c","name":"","x":1150,"y":880,"wires":[[]]},{"id":"2304236c.31c35c","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":980,"wires":[]},{"id":"788525dc.aafd1c","type":"comment","z":"50560b04.fa77e4","name":"KR Send AI Server ","info":"","x":110,"y":700,"wires":[]},{"id":"4af233f7.708cfc","type":"function","z":"50560b04.fa77e4","name":"Send Message CP11","func":"msg.sendmsg = \"CP11\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":760,"wires":[["e3a66e75.00759"]]},{"id":"872e569.d9f4fa8","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["9196f7b2.ee68d8"]]},{"id":"9196f7b2.ee68d8","type":"function","z":"50560b04.fa77e4","name":"Send Message CP12","func":"msg.sendmsg = \"CP12\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":820,"wires":[["e3a66e75.00759"]]},{"id":"21f86342.9e0ebc","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":880,"wires":[["b4f44a49.2ff6e8"]]},{"id":"b4f44a49.2ff6e8","type":"function","z":"50560b04.fa77e4","name":"Send Message CP13","func":"msg.sendmsg = \"CP13\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["e3a66e75.00759"]]},{"id":"2593d32f.b8d73c","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":940,"wires":[["f4e4d30a.4e076"]]},{"id":"f4e4d30a.4e076","type":"function","z":"50560b04.fa77e4","name":"Send Message CP14","func":"msg.sendmsg = \"CP14\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":940,"wires":[["e3a66e75.00759"]]},{"id":"229c859e.c52aaa","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"16","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1000,"wires":[["b59c86e8.bcb898"]]},{"id":"b59c86e8.bcb898","type":"function","z":"50560b04.fa77e4","name":"Send Message CP15","func":"msg.sendmsg = \"CP15\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1000,"wires":[["e3a66e75.00759"]]}]