posco-temp-flow.json
[{"id":"50560b04.fa77e4","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"82878e70.29755","type":"tab","label":"Simulator-Server","disabled":false,"info":""},{"id":"6409ee9a.ec5ec","type":"tab","label":"Data Input","disabled":false,"info":""},{"id":"e276fd36.0dbb5","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5917ca98.c95784","type":"MySQLdatabase","z":"","host":"219.251.4.236","port":"3306","db":"posco","tz":""},{"id":"e6c684fd.24f4d8","type":"influxdb","z":"82878e70.29755","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"44b7f4a4.b25dbc","type":"mqtt out","z":"50560b04.fa77e4","name":"","topic":"/thingspin/edge-ai/KR","qos":"","retain":"","broker":"e276fd36.0dbb5","x":840,"y":280,"wires":[]},{"id":"2161c971.408c66","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["a48536b7.b206f8"]]},{"id":"247789f2.76d996","type":"comment","z":"50560b04.fa77e4","name":"ThingSPIN 알고리즘 등록시 Publish","info":"","x":210,"y":240,"wires":[]},{"id":"a48536b7.b206f8","type":"function","z":"50560b04.fa77e4","name":"Make Algorithm","func":"var randomValue = Math.round(Math.random() *10000);\n\nvar algorithmData = {\n    Cid : \"cidvalue-test-\" + new Date(),\n    Cname : \"test-script-\" + randomValue,\n    Model : \"TensorFlow\",\n    Framework : \"Framework\",\n    InputInfo : \"InputInfo\",\n    OutputInfo : \"OutputInfo\",\n    ModelFiles : [\n        \"/var/thingspin/plugin/ml/file/mfile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/mfile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/mfile3-\" + randomValue\n    ],\n    AlgorithmFiles : [\n        \"/var/thingspin/plugin/ml/file/afile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/afile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/afile3-\" + randomValue\n    ],\n    AlogorithmType : \"al-type-\" + randomValue,\n    AlogorithmName : \"al-name-\" + randomValue,\n    UploadModel : [\n        \"/var/thingspin/plugin/ml/file/upmfile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upmfile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upmfile3-\" + randomValue\n    ],\n    UploadAlogorithm : [\n        \"/var/thingspin/plugin/ml/file/upafile1-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upafile2-\" + randomValue,\n        \"/var/thingspin/plugin/ml/file/upafile3-\" + randomValue\n    ]    \n};\n\nmsg.payload = algorithmData;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["779d0b6f.62ab94"]]},{"id":"779d0b6f.62ab94","type":"json","z":"50560b04.fa77e4","name":"","property":"payload","action":"","pretty":false,"x":610,"y":280,"wires":[["44b7f4a4.b25dbc","ad364354.cdc2d"]]},{"id":"78f75694.b6f958","type":"comment","z":"50560b04.fa77e4","name":"L2 Data Sender","info":"","x":160,"y":440,"wires":[]},{"id":"34e00d74.ba7592","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["909b5f6c.20bc"]]},{"id":"909b5f6c.20bc","type":"function","z":"50560b04.fa77e4","name":"Make Algorithm","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n       console.log(out);\n    }\n    console.log(getUID.uids[out]);\n    // ensure that the uid is unique for this page\n    return getUID.uids[out] ? getUID(len) : (getUID.uids[out] = out);\n}\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *10000);\n    var topValue = Math.round(Math.random() *100);\n    return topValue + \".\" + bottomValue;\n}\n\n\nvar postLadleData = {\n    time : new Date(),\n    uuid : getUID(14),\n    t0 : getRandomTemperator(),\n    t1 : getRandomTemperator(),\n    t2 : getRandomTemperator(),\n    t3 : getRandomTemperator()\n};\n\nmsg.payload = postLadleData;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":480,"wires":[["9cc40102.67774"]]},{"id":"ad364354.cdc2d","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":340,"wires":[]},{"id":"9cc40102.67774","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":480,"wires":[]},{"id":"612e88a5.5c2e28","type":"tcp out","z":"50560b04.fa77e4","host":"localhost","port":"30000","beserver":"client","base64":false,"end":false,"name":"","x":650,"y":600,"wires":[]},{"id":"48e9d4f8.96cb7c","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":600,"wires":[["adef4f9c.9fd6"]]},{"id":"adef4f9c.9fd6","type":"function","z":"50560b04.fa77e4","name":"Make-Data-Set","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(size) {\n    var bottomValue = Math.round(Math.random() *10000);\n    var topValue = Math.round(Math.random() *1000);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getBooleanData() {\n    return Math.round((Math.random() * 1) + 0) === 0;\n}\n\nfunction makeData(lastClose) {\n    var size = context.global.SlabFormat.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(context.global.SlabFormat.type[i]) {\n            case 'c' :\n                if (i == 0)\n                    output += \"slab\"\n                else\n                    output += getUID(context.global.SlabFormat.len[i]);\n                break;\n            case 'f' :\n                output += getRandomTemperator(context.global.SlabFormat.len[i]);\n                break;\n            case 'b' :\n                output += getBooleanData();\n                break;\n            case 'i' :\n                output += getRandomTemperator(context.global.SlabFormat.len[i]);\n                break;\n        }\n    }\n    if (lastClose === true);\n        output += \"\\n\";\n    return output;\n}\n\nmsg.payload = makeData(true);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["612e88a5.5c2e28"]]},{"id":"5319dfe5.3174a","type":"config","z":"50560b04.fa77e4","name":"Global Init Data","properties":[{"p":"SlabFormat","pt":"global","to":"{\"db\":\"t_slab_detail\",\"title\":[\"TcNo\",\"pltNo\",\"stClsFlag\",\"slabThick\",\"slabWidth\",\"slabLength\",\"slabWeight\",\"rollSchema\",\"cheCa\",\"cheNb\",\"cheV\",\"cheTi\",\"cheMo\",\"cheSi\",\"cheNi\",\"cheCr\",\"cheS\",\"cheP\",\"cheMn\",\"cheC\"],\"type\":[\"c\",\"c\",\"c\",\"f\",\"f\",\"f\",\"f\",\"i\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\",\"f\"],\"len\":[4,10,2,6,5,5,10,1,10,10,10,10,10,10,10,10,10,10,10,10]}","tot":"json"},{"p":"LogFormat","pt":"global","to":"{\"send\":\"t_data_send_log\",\"send_IP\":\"192.168.0.100\",\"send_Port\":30010,\"recv\":\"t_data_receive_log\",\"column\":[\"ip\",\"port\",\"dataLength\",\"dataDetail\"]}","tot":"json"},{"p":"SendDataFormat","pt":"global","to":"{\"title\":[\"pltNo\",\"cheCa\",\"cheNb\",\"cheV\",\"cheTi\"],\"reName\":[\"PLT_NO\",\"CA\",\"NB\",\"V\",\"TI\"],\"len\":[14,10,10,10,10]}","tot":"json"}],"active":true,"x":180,"y":100,"wires":[]},{"id":"23e6ecfe.124764","type":"tcp request","z":"50560b04.fa77e4","server":"localhost","port":"30000","out":"char","splitc":"\\n","name":"","x":650,"y":680,"wires":[["ef165842.bfaea8"]]},{"id":"ef165842.bfaea8","type":"debug","z":"50560b04.fa77e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":680,"wires":[]},{"id":"af6a6038.043ed","type":"comment","z":"50560b04.fa77e4","name":"[ 관리자 내부 변수 초기화 ]","info":"","x":180,"y":60,"wires":[]},{"id":"b2b6b5d2.7fb618","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["1689ff9e.8db01"]]},{"id":"1689ff9e.8db01","type":"function","z":"50560b04.fa77e4","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\ncontext.global.todaydate = date.yyyymmdd();\n// context.global.set(\"YYYYMMDD\", \"20180101\");\n\nreturn;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[[]]},{"id":"d42b9a5.a5b6668","type":"tcp in","z":"82878e70.29755","name":"","server":"server","host":"","port":"30000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":160,"y":260,"wires":[["cac84615.537aa8","1906ff3.2e34b01","8105e163.d3acd"]]},{"id":"cac84615.537aa8","type":"function","z":"82878e70.29755","name":"Data Process","func":"context.global.dataType = new Map();\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    // var dataMap = new Map();\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i == 0) {\n            sumTotal += (format.len[i])\n            context.global.dataMap.set(format.title[i], str.slice(i, sumTotal))\n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            context.global.dataMap.set(format.title[i], str.slice(sumTotal, sumTotal + format.len[i]));\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n        }\n    }\n    // console.log(dataMap);\n}\n\nvar strData = msg.payload.toString('utf-8');\ntranslateData(strData, context.global.SlabFormat);\n// var mapData = translateData(msg.payload, context.global.SlabFormat);\n// console.log(context.global.dataType);\n//JSON으로 변환시 이용\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'c') {\n        // console.log(value);\n        object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TcNo')\n            msg.tag = value;\n        else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\nmsg.payload = context.global.dataMap;\n\ncontext.global.dataType = null;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["2799f0b2.d78fd","77971aad.ab4604","118e2452.fdbd7c"]]},{"id":"2799f0b2.d78fd","type":"function","z":"82878e70.29755","name":"Create insert mariadb query ","func":"function makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(\";\n    var values = \"(\";\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \",\";\n            else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    return result;\n}\n\n// console.log(msg.payload);\nvar dataMap = msg.payload;\nvar queryInputData = makeColumnString(context.global.SlabFormat, dataMap);\nvar queryStr = \"insert into \" + context.global.SlabFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n// console.log(queryStr);\n\nmsg.topic = queryStr;\n//console.log(msg);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["204495c8.a613aa"]]},{"id":"204495c8.a613aa","type":"mysql","z":"82878e70.29755","mydb":"5917ca98.c95784","name":"","x":930,"y":400,"wires":[[]]},{"id":"1906ff3.2e34b01","type":"function","z":"82878e70.29755","name":"Response MSG Create","func":"msg.payload = \"OK\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["34a95b61.b08f74"]]},{"id":"34a95b61.b08f74","type":"tcp out","z":"82878e70.29755","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Response","x":640,"y":120,"wires":[]},{"id":"77971aad.ab4604","type":"function","z":"82878e70.29755","name":"Influx Data Process","func":"let YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-slab-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TcNo:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["4e64e609.f85a98"]]},{"id":"8105e163.d3acd","type":"function","z":"82878e70.29755","name":"Create Log Data Query ","func":"var sender_ip = msg.ip.slice(7, msg.ip.length);\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\nvar queryStr = \"insert into \" + context.global.LogFormat.recv + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["f35b5c75.079f6"]]},{"id":"f35b5c75.079f6","type":"mysql","z":"82878e70.29755","mydb":"5917ca98.c95784","name":"","x":630,"y":260,"wires":[[]]},{"id":"a457605e.4414c","type":"comment","z":"82878e70.29755","name":"TCP Response Process","info":"","x":420,"y":80,"wires":[]},{"id":"acdd3da.6abacc","type":"comment","z":"82878e70.29755","name":"Data Slice and Insert to DB","info":"","x":430,"y":360,"wires":[]},{"id":"11a45557.388bab","type":"comment","z":"82878e70.29755","name":"Input Infomation Insert to DB","info":"","x":440,"y":220,"wires":[]},{"id":"118e2452.fdbd7c","type":"function","z":"82878e70.29755","name":"Data Refine Process","func":"function checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n        returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n    }\n    if (value == true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\nmsg.payload = createDataRefine(true);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["b9fb8276.f23b8","5462c1f5.6633f"]]},{"id":"b9fb8276.f23b8","type":"tcp out","z":"82878e70.29755","host":"localhost","port":"30010","beserver":"client","base64":false,"end":false,"name":"","x":950,"y":520,"wires":[]},{"id":"77300ea6.066de","type":"tcp in","z":"82878e70.29755","name":"","server":"server","host":"","port":"30010","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":640,"wires":[["c8baee20.25fe9"]]},{"id":"c8baee20.25fe9","type":"debug","z":"82878e70.29755","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":640,"wires":[]},{"id":"5462c1f5.6633f","type":"function","z":"82878e70.29755","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.send_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\nvar queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nconsole.log(queryStr);\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":600,"wires":[["bdac6029.6e38d"]]},{"id":"bdac6029.6e38d","type":"mysql","z":"82878e70.29755","mydb":"5917ca98.c95784","name":"","x":1170,"y":600,"wires":[[]]},{"id":"4e64e609.f85a98","type":"influxdb batch","z":"82878e70.29755","influxdb":"41347516.cd14fc","precision":"ms","retentionPolicy":"","name":"","x":970,"y":460,"wires":[]}]