posco-temp-flow.json
[{"id":"50560b04.fa77e4","type":"tab","label":"Simulator","disabled":false,"info":"CREATE TABLE t_data_send_log\n(\n    `uuid`      VARCHAR(32)        NOT NULL    COMMENT 'uuid' PRIMARY KEY, \n    `time`        DATETIME         NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP, \n    `ip`          VARCHAR(16)      NOT NULL    COMMENT 'ip', \n    `port`        INT              NOT NULL    COMMENT 'port',\n    `message`\t  VARCHAR(10)\t  NULL        COMMENT 'message',\n    `dataLength`  INT              NOT NULL    COMMENT 'dataLength', \n    `dataDetail`  VARCHAR(2000)    NOT NULL    COMMENT 'dataDetail'\n);"},{"id":"dd48b724.c803f8","type":"tab","label":"Data Receive","disabled":false,"info":""},{"id":"6fa9e4c0.b52b2c","type":"tab","label":"TEMP","disabled":true,"info":""},{"id":"c8540511.1f9cb8","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5f50fee7.d824c","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":""},{"id":"8181593f.ab1698","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"1c7f7996.7495a6","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5af58e3d.59b3c","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"966b8018.561d5","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"bbc8e34a.156b7","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"f91f082.51f08f8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"2292ed78.da37c2","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB Localhost","usetls":false,"tls":""},{"id":"da99933d.e3864","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"3fc62f75.7b418","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e953685d.674b18","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ad4d3d1b.0d3a5","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"b5e23ad9.f142a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5382d6f.58c0328","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["ef5ebf1d.21ffc"]]},{"id":"d4c227cd.6a6998","type":"function","z":"50560b04.fa77e4","name":"Make Data","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n    }\n    // ensure that the uid is unique for this page\n    return out;\n}\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *10000);\n    var topValue = Math.round(Math.random() *100);\n    return topValue + \".\" + bottomValue;\n}\nvar base64Image = JSON.parse(msg.payload);\nvar strImage = base64Image[0].value;\n\nvar postLadleData = {\n    id : \"CAM1\",\n    t : parseFloat(getRandomTemperator()),\n    image : strImage\n};\n\nmsg.payload = postLadleData;\n\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["11636b67.f612b5"]]},{"id":"5bf54227.942b6c","type":"comment","z":"50560b04.fa77e4","name":"DDS AI Server Sender","info":"","x":120,"y":280,"wires":[]},{"id":"11636b67.f612b5","type":"http request","z":"50560b04.fa77e4","name":"Post Ladle","method":"POST","ret":"obj","url":"http://localhost:1880/thingspin/api/ladle","tls":"","x":890,"y":320,"wires":[["c4d34e1a.a9013"]]},{"id":"c4d34e1a.a9013","type":"debug","z":"50560b04.fa77e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":320,"wires":[]},{"id":"ef5ebf1d.21ffc","type":"function","z":"50560b04.fa77e4","name":"Set Type","func":"msg.type = \"LADLE\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[[]]},{"id":"23701c6a.59c234","type":"http in","z":"dd48b724.c803f8","name":"LADLE","url":"/thingspin/api/ladle","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["6a758c1.66f6e74"]]},{"id":"6a758c1.66f6e74","type":"json","z":"dd48b724.c803f8","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":160,"wires":[["90e27029.96912","b4ad4a9d.ffa238"]]},{"id":"e001fafa.4e05e8","type":"config","z":"dd48b724.c803f8","name":"Config","properties":[{"p":"basePath","pt":"global","to":"D:\\\\thingspin\\\\server\\\\data\\\\thingspin\\\\images\\\\","tot":"str"},{"p":"filePrefix","pt":"global","to":"KR","tot":"str"},{"p":"fileLadlePrefix","pt":"global","to":"LADEL","tot":"str"},{"p":"basePath-ORG","pt":"flow","to":"D:\\\\thingspin\\\\server\\\\data\\\\thingspin\\\\images\\\\","tot":"str"},{"p":"baseDataPath","pt":"global","to":"D:\\\\thingspin\\\\data\\\\","tot":"str"},{"p":"baseDataPath-ORG","pt":"global","to":"D:\\\\thingspin\\\\data\\\\","tot":"str"},{"p":"baseFileDataColumn","pt":"global","to":"[{\"TC_CODE\":\"3101\",\"Process\":\"BOP\",\"DataLength\":53},{\"TC_CODE\":\"3101\",\"Process\":\"BOP\",\"DataLength\":53}]","tot":"json"},{"p":"FileShcema_LF_KR","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"강번\"]},{\"table\":\"t_msg_3104\",\"table_title\":\"msg1\",\"column\":[\"SM_ONL_BN_DSLAD_KWRM_SAT_TMP\",\"SM_ONL_BN_DSLAD_KWRM_TM\",\"SM_ONL_BN_DSLAD_KWRM_DN_TMP\",\"SM_ONL_BN_DSTL_LAD_KWRM_CODT\"],\"title\":[\"제강Online보온Burner개시온도\",\"제강Online보온Burner수강총시간\",\"제강Online보온Burner완료온도\",\"제강Online보온Burner완료일시\"]},{\"table\":\"t_msg_3105\",\"table_title\":\"msg2\",\"column\":[\"SM_STEEL_GRD\",\"DSTL_LAD_NUM\",\"DSTL_LAD_INTER_RPR_AF_USE_TIM\",\"DSTL_LAD_SML_MCE_AF_USE_TIM\",\"PRE_FCE_LIFE_NUM\",\"OX_LANCE_NUM\",\"FCE_USE_TIM\",\"FCE_TAPHOLE_EXCNG_TIM\",\"LD_FCE_CALC_M_STE_QT\",\"SM_LD_SLG_COAT_JOB_FCE_SH_TIM\",\"LD_FCE_CALC_M_MAT_SUR_HEIT\",\"LD_FCE_M_MSUR_MSE_FCE_LIFECYL\"],\"title\":[\"출강목표번호\",\"수강Ladle번호\",\"제강수강Ladle중수리후사용횟수\",\"제강수강Ladle소수리후사용횟수\",\"제강이전로대번호\",\"제강산소Lance번호\",\"제강로사용횟수\",\"제강전로로대별출강구\",\"제강전로계산용강량\",\"제강전로SlagCoating작업\",\"제강전로계산탕면높이\",\"제강전로탕면측정시노체수명\"]},{\"table\":\"t_msg_3106\",\"table_title\":\"msg3\",\"column\":[\"TAPP_STA_DATE\",\"TAPP_DN_DATE\",\"TAP_TM\",\"LD_FCE_OX_BW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_AR_USE_QT\",\"LD_FCE_LW_BW_AR_T_USE_QT\",\"LD_FCE_LDG_CLT_QT\",\"LD_FCE_OX_BW_T_OX_USE_QT\",\"LD_FCE_SM_TM\",\"LD_FCE_NST_TM\",\"BE_CH_TAP_TM\",\"LD_FCE_PN_MLBW_PTRN_NUM\",\"LF_ARR_TM\"],\"title\":[\"출강개시일시\",\"출강완료일시\",\"제강출강시간\",\"제강전로취련중하취N2\",\"제강전로비취련하취N2\",\"제강전로비취련중하취\",\"제강전로하취NozzleAr총\",\"제강전로취련LDG회수량\",\"제강전로취련총산소사용량\",\"제강전로제강시간\",\"제강전로비제강시간\",\"제강전Charge출강시간\",\"제강전로취련종료대기중하취Pattern번호구분\",\"LF도착요구온도\"]},{\"table\":\"t_msg_3107\",\"table_title\":\"msg4\",\"column\":[\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"title\":[\"제강전로탈린SubLance측정일시1\",\"제강전로탈린SubLance측정온도1\",\"제강전로SubLance탄소측정1\",\"제강전로취련중SubLance산소투입량1\"]},{\"table\":\"t_msg_3108\",\"table_title\":\"msg5\",\"column\":[\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"title\":[\"제강전로탈린SubLance측정일시2\",\"제강전로탈린SubLance측정온도2\",\"제강전로SubLance탄소측정2\",\"제강전로취련중SubLance산소투입량2\"]},{\"table\":\"t_msg_3109\",\"table_title\":\"msg6\",\"column\":[\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"title\":[\"제강전로탈린SubLance측정일시3\",\"제강전로탈린SubLance측정온도3\",\"제강전로SubLance탄소측정3\",\"제강전로취련중SubLance산소투입량3\"]},{\"table\":\"t_msg_3112\",\"table_title\":\"msg9\",\"column\":[\"TAPP_DN_DT\",\"TAPP_DN_TM\"],\"title\":[\"측정일시\",\"측정온도\"]},{\"table\":\"t_msg_3122\",\"table_title\":\"msg10\",\"column\":[\"LF_ARR_DT\",\"SM_SREF_LF_QUE_TM\",\"LF_BTM_BUB_SAT_DT\"],\"title\":[\"LF도착일시\",\"제강2차정련LF대기시간\",\"제강LF_BottomBubbling개시일시1\"]},{\"table\":\"t_msg_3123\",\"table_title\":\"msg11\",\"column\":[\"LF_BOT_BB_DT\",\"LF_BOT_BB_GAS_USE_QT\"],\"title\":[\"제강LF_BottomBubbling시간1\",\"제강LF_BottomBubblingGas사용량1\"]},{\"table\":\"t_msg_3124\",\"table_title\":\"msg12\",\"column\":[\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"title\":[\"LF승온개시일시1\",\"LF승온전력사용량1\",\"LF설정TAP위치1\",\"제강LF승온시간1\"]},{\"table\":\"t_msg_3125\",\"table_title\":\"msg13\",\"column\":[\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"title\":[\"LF_Sampling차수별일시1\",\"LF차수별측정온도1\"]},{\"table\":\"t_msg_3126\",\"table_title\":\"msg14\",\"column\":[\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"title\":[\"LF승온개시일시2\",\"LF승온전력사용량2\",\"LF설정TAP위치2\",\"제강LF승온시간2\"]},{\"table\":\"t_msg_3127\",\"table_title\":\"msg15\",\"column\":[\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"title\":[\"LF_Sampling차수별일시2\",\"LF차수별측정온도2\"]},{\"table\":\"t_msg_3128\",\"table_title\":\"msg16\",\"column\":[\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"title\":[\"LF승온개시일시3\",\"LF승온전력사용량3\",\"LF설정TAP위치3\",\"제강LF승온시간3\"]},{\"table\":\"t_msg_3129\",\"table_title\":\"msg17\",\"column\":[\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"title\":[\"LF_Sampling차수별일시3\",\"LF차수별측정온도3\"]}]","tot":"json"},{"p":"FileShcema_RH_KR","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"강번\"]},{\"table\":\"t_msg_3141\",\"table_title\":\"msg1\",\"column\":[\"RH_PRC_PAS_NUM\",\"DSTL_LAD_NUM\",\"SM_STEEL_GRD\",\"RH_PRC_SEQ_NUM\",\"RH_TVESS_USE_TIM\",\"RH_LVES_USE_TIM\",\"SM_SREF_RH_QUE_TM\",\"RH_START_TM\"],\"title\":[\"RH처리차수\",\"수강Ladle번호\",\"출강목표번호\",\"제강정련RH처리일련번호\",\"제강정련RH상부조사용횟수\",\"제강정련RH하부조사용횟수\",\"제강2차정련RH대기시간\",\"처리개시 시각\"]},{\"table\":\"t_msg_3142\",\"table_title\":\"msg2\",\"column\":[\"RH_DEPT_TM\",\"RH_TOTAL_TREAT_TM\",\"SM_SREF_RHOB_A_RFEX_TM\",\"RH_DEPT_DT\"],\"title\":[\"제강2차정련RH출발온도\",\"제강RH총처리시간\",\"제강2차정련RHOB후환류시간\",\"제강정련RH_Ladle출발일\"]},{\"table\":\"t_msg_3143\",\"table_title\":\"msg3\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"제강RH측정횟수별측정일시1\",\"제강RH측정횟수별측정온도1\"]},{\"table\":\"t_msg_3144\",\"table_title\":\"msg4\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"제강RH측정횟수별측정일시2\",\"제강RH측정횟수별측정온도2\"]},{\"table\":\"t_msg_3145\",\"table_title\":\"msg5\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"제강RH측정횟수별측정일시3\",\"제강RH측정횟수별측정온도3\"]},{\"table\":\"t_msg_3146\",\"table_title\":\"msg6\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"제강RH측정횟수별측정일시4\",\"제강RH측정횟수별측정온도4\"]},{\"table\":\"t_msg_3160\",\"table_title\":\"msg8\",\"column\":[\"CC_TUND_NUM\",\"CAST_NO\"],\"title\":[\"연주Tundish번호\",\"제강연주Cast번호\"]},{\"table\":\"t_msg_3161\",\"table_title\":\"msg9\",\"column\":[\"TUND_PHT_TM\"],\"title\":[\"연주Tundish예열시간\"]},{\"table\":\"t_msg_3162\",\"table_title\":\"msg10\",\"column\":[\"LAD_INJ_SAT_DT\"],\"title\":[\"연주Ladle주입개시일시\"]},{\"table\":\"t_msg_3163\",\"table_title\":\"msg11\",\"column\":[\"TUND_TM_MSE_TM\",\"TUND_M_STE_MSE_TM\"],\"title\":[\"연주Tundish용강온도측정시각1\",\"연주Tundish용강측정온도1\"]}]","tot":"json"},{"p":"FileShcema_LF_EN","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"CHARGE_NO\"]},{\"table\":\"t_msg_3104\",\"table_title\":\"msg1\",\"column\":[\"SM_ONL_BN_DSLAD_KWRM_SAT_TMP\",\"SM_ONL_BN_DSLAD_KWRM_TM\",\"SM_ONL_BN_DSLAD_KWRM_DN_TMP\",\"SM_ONL_BN_DSTL_LAD_KWRM_CODT\"],\"title\":[\"SM_ONL_BN_DSLAD_KWRM_SAT_TMP\",\"SM_ONL_BN_DSLAD_KWRM_TM\",\"SM_ONL_BN_DSLAD_KWRM_DN_TMP\",\"SM_ONL_BN_DSTL_LAD_KWRM_CODT\"]},{\"table\":\"t_msg_3105\",\"table_title\":\"msg2\",\"column\":[\"SM_STEEL_GRD\",\"DSTL_LAD_NUM\",\"DSTL_LAD_INTER_RPR_AF_USE_TIM\",\"DSTL_LAD_SML_MCE_AF_USE_TIM\",\"PRE_FCE_LIFE_NUM\",\"OX_LANCE_NUM\",\"FCE_USE_TIM\",\"FCE_TAPHOLE_EXCNG_TIM\",\"LD_FCE_CALC_M_STE_QT\",\"SM_LD_SLG_COAT_JOB_FCE_SH_TIM\",\"LD_FCE_CALC_M_MAT_SUR_HEIT\",\"LD_FCE_M_MSUR_MSE_FCE_LIFECYL\"],\"title\":[\"SM_STEEL_GRD\",\"DSTL_LAD_NUM\",\"DSTL_LAD_INTER_RPR_AF_USE_TIM\",\"DSTL_LAD_SML_MCE_AF_USE_TIM\",\"PRE_FCE_LIFE_NUM\",\"OX_LANCE_NUM\",\"FCE_USE_TIM\",\"FCE_TAPHOLE_EXCNG_TIM\",\"LD_FCE_CALC_M_STE_QT\",\"SM_LD_SLG_COAT_JOB_FCE_SH_TIM\",\"LD_FCE_CALC_M_MAT_SUR_HEIT\",\"LD_FCE_M_MSUR_MSE_FCE_LIFECYL\"]},{\"table\":\"t_msg_3106\",\"table_title\":\"msg3\",\"column\":[\"TAPP_STA_DATE\",\"TAPP_DN_DATE\",\"TAP_TM\",\"LD_FCE_OX_BW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_AR_USE_QT\",\"LD_FCE_LW_BW_AR_T_USE_QT\",\"LD_FCE_LDG_CLT_QT\",\"LD_FCE_OX_BW_T_OX_USE_QT\",\"LD_FCE_SM_TM\",\"LD_FCE_NST_TM\",\"BE_CH_TAP_TM\",\"LD_FCE_PN_MLBW_PTRN_NUM\",\"LF_ARR_TM\"],\"title\":[\"TAPP_STA_DATE\",\"TAPP_DN_DATE\",\"TAP_TM\",\"LD_FCE_OX_BW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_AR_USE_QT\",\"LD_FCE_LW_BW_AR_T_USE_QT\",\"LD_FCE_LDG_CLT_QT\",\"LD_FCE_OX_BW_T_OX_USE_QT\",\"LD_FCE_SM_TM\",\"LD_FCE_NST_TM\",\"BE_CH_TAP_TM\",\"LD_FCE_PN_MLBW_PTRN_NUM\",\"LF_ARR_TM\"]},{\"table\":\"t_msg_3107\",\"table_title\":\"msg4\",\"column\":[\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"title\":[\"LD_FCE_SLAN_MSE_DT_1\",\"LD_FCE_SLAN_MSE_TM_1\",\"LD_FCE_SLAN_MSE_CARBON_1\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT_1\"]},{\"table\":\"t_msg_3108\",\"table_title\":\"msg5\",\"column\":[\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"title\":[\"LD_FCE_SLAN_MSE_DT_2\",\"LD_FCE_SLAN_MSE_TM_2\",\"LD_FCE_SLAN_MSE_CARBON_2\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT_2\"]},{\"table\":\"t_msg_3109\",\"table_title\":\"msg6\",\"column\":[\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"title\":[\"LD_FCE_SLAN_MSE_DT_3\",\"LD_FCE_SLAN_MSE_TM_3\",\"LD_FCE_SLAN_MSE_CARBON_3\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT_3\"]},{\"table\":\"t_msg_3112\",\"table_title\":\"msg9\",\"column\":[\"TAPP_DN_DT\",\"TAPP_DN_TM\"],\"title\":[\"TAPP_DN_DT\",\"TAPP_DN_TM\"]},{\"table\":\"t_msg_3122\",\"table_title\":\"msg10\",\"column\":[\"LF_ARR_DT\",\"SM_SREF_LF_QUE_TM\",\"LF_BTM_BUB_SAT_DT\"],\"title\":[\"LF_ARR_DT\",\"SM_SREF_LF_QUE_TM\",\"LF_BTM_BUB_SAT_DT_1\"]},{\"table\":\"t_msg_3123\",\"table_title\":\"msg11\",\"column\":[\"LF_BOT_BB_DT\",\"LF_BOT_BB_GAS_USE_QT\"],\"title\":[\"LF_BOT_BB_DT_1\",\"LF_BOT_BB_GAS_USE_QT_1\"]},{\"table\":\"t_msg_3124\",\"table_title\":\"msg12\",\"column\":[\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"title\":[\"LF_AST_SAT_DT_1\",\"LF_AST_E_FRC_USE_QT_1\",\"LF_SET_TAP_LOC_1\",\"LF_AST_TM_1\"]},{\"table\":\"t_msg_3125\",\"table_title\":\"msg13\",\"column\":[\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"title\":[\"LF_SMP_PAS_NUM_DT_1\",\"LF_PAS_NUM_MSE_TM_1\"]},{\"table\":\"t_msg_3126\",\"table_title\":\"msg14\",\"column\":[\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"title\":[\"LF_AST_SAT_DT_2\",\"LF_AST_E_FRC_USE_QT_2\",\"LF_SET_TAP_LOC_2\",\"LF_AST_TM_2\"]},{\"table\":\"t_msg_3127\",\"table_title\":\"msg15\",\"column\":[\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"title\":[\"LF_SMP_PAS_NUM_DT_2\",\"LF_PAS_NUM_MSE_TM_2\"]},{\"table\":\"t_msg_3128\",\"table_title\":\"msg16\",\"column\":[\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"title\":[\"LF_AST_SAT_DT_3\",\"LF_AST_E_FRC_USE_QT_3\",\"LF_SET_TAP_LOC_3\",\"LF_AST_TM_3\"]},{\"table\":\"t_msg_3129\",\"table_title\":\"msg17\",\"column\":[\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"title\":[\"LF_SMP_PAS_NUM_DT_3\",\"LF_PAS_NUM_MSE_TM_3\"]}]","tot":"json"},{"p":"FileShcema_RH_EN","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"CHARGE_NO\"]},{\"table\":\"t_msg_3141\",\"table_title\":\"msg1\",\"column\":[\"RH_PRC_PAS_NUM\",\"DSTL_LAD_NUM\",\"SM_STEEL_GRD\",\"RH_PRC_SEQ_NUM\",\"RH_TVESS_USE_TIM\",\"RH_LVES_USE_TIM\",\"SM_SREF_RH_QUE_TM\",\"RH_START_TM\"],\"title\":[\"RH_PRC_PAS_NUM\",\"DSTL_LAD_NUM\",\"SM_STEEL_GRD\",\"RH_PRC_SEQ_NUM\",\"RH_TVESS_USE_TIM\",\"RH_LVES_USE_TIM\",\"SM_SREF_RH_QUE_TM\",\"RH_START_TM\"]},{\"table\":\"t_msg_3142\",\"table_title\":\"msg2\",\"column\":[\"RH_DEPT_TM\",\"RH_TOTAL_TREAT_TM\",\"SM_SREF_RHOB_A_RFEX_TM\",\"RH_DEPT_DT\"],\"title\":[\"RH_DEPT_TM\",\"RH_TOTAL_TREAT_TM\",\"SM_SREF_RHOB_A_RFEX_TM\",\"RH_DEPT_DT\"]},{\"table\":\"t_msg_3143\",\"table_title\":\"msg3\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"RH_MSE_TIM_MSE_DT_1\",\"RH_MSE_TIM_MSE_TM_1\"]},{\"table\":\"t_msg_3144\",\"table_title\":\"msg4\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"RH_MSE_TIM_MSE_DT_2\",\"RH_MSE_TIM_MSE_TM_2\"]},{\"table\":\"t_msg_3145\",\"table_title\":\"msg5\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"RH_MSE_TIM_MSE_DT_3\",\"RH_MSE_TIM_MSE_TM_3\"]},{\"table\":\"t_msg_3146\",\"table_title\":\"msg6\",\"column\":[\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"title\":[\"RH_MSE_TIM_MSE_DT_4\",\"RH_MSE_TIM_MSE_TM_4\"]},{\"table\":\"t_msg_3160\",\"table_title\":\"msg8\",\"column\":[\"CC_TUND_NUM\",\"CAST_NO\"],\"title\":[\"CC_TUND_NUM\",\"CAST_NO\"]},{\"table\":\"t_msg_3161\",\"table_title\":\"msg9\",\"column\":[\"TUND_PHT_TM\"],\"title\":[\"TUND_PHT_TM\"]},{\"table\":\"t_msg_3162\",\"table_title\":\"msg10\",\"column\":[\"LAD_INJ_SAT_DT\"],\"title\":[\"LAD_INJ_SAT_DT\"]},{\"table\":\"t_msg_3163\",\"table_title\":\"msg11\",\"column\":[\"TUND_TM_MSE_TM\",\"TUND_M_STE_MSE_TM\"],\"title\":[\"TUND_TM_MSE_TM_1\",\"TUND_M_STE_MSE_TM_1\"]}]","tot":"json"},{"p":"Schema_Append_ALY_LF_KR","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"강번\"]},{\"table\":\"t_msg_3110\",\"table_title\":\"msg7\",\"column\":[\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\",\"ALY_HOPPER_CODE6\",\"ALY_HOPPER_WGT6\",\"ALY_HOPPER_CODE7\",\"ALY_HOPPER_WGT7\",\"ALY_HOPPER_CODE8\",\"ALY_HOPPER_WGT8\",\"ALY_HOPPER_CODE9\",\"ALY_HOPPER_WGT9\",\"ALY_HOPPER_CODE10\",\"ALY_HOPPER_WGT10\",\"ALY_HOPPER_CODE11\",\"ALY_HOPPER_WGT11\",\"ALY_HOPPER_CODE12\",\"ALY_HOPPER_WGT12\",\"ALY_HOPPER_CODE13\",\"ALY_HOPPER_WGT13\"],\"title\":[\"합금철 투입 종류1\",\"합금철 투입량1\",\"합금철 투입 종류2\",\"합금철 투입량2\",\"합금철 투입 종류3\",\"합금철 투입량3\",\"합금철 투입 종류4\",\"합금철 투입량4\",\"합금철 투입 종류5\",\"합금철 투입량5\",\"합금철 투입 종류6\",\"합금철 투입량6\",\"합금철 투입 종류7\",\"합금철 투입량7\",\"합금철 투입 종류8\",\"합금철 투입량8\",\"합금철 투입 종류9\",\"합금철 투입량9\",\"합금철 투입 종류10\",\"합금철 투입량10\",\"합금철 투입 종류11\",\"합금철 투입량11\",\"합금철 투입 종류12\",\"합금철 투입량12\",\"합금철 투입 종류13\",\"합금철 투입량13\"]}]","tot":"json"},{"p":"Schema_Append_RH_KR","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"강번\"]},{\"table\":\"t_msg_3147\",\"table_title\":\"msg7\",\"column\":[\"ALY_HOPPER_CODE\",\"ALY_HOPPER_WGT\"],\"title\":[\"합금철 투입 종류1\",\"합금철 투입량1\",\"합금철 투입 종류2\",\"합금철 투입량2\",\"합금철 투입 종류3\",\"합금철 투입량3\",\"합금철 투입 종류4\",\"합금철 투입량4\",\"합금철 투입 종류5\",\"합금철 투입량5\"]}]","tot":"json"},{"p":"Schema_Append_ALY_LF_EN","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"CHARGE_NO\"]},{\"table\":\"t_msg_3110\",\"table_title\":\"msg7\",\"column\":[\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\",\"ALY_HOPPER_CODE6\",\"ALY_HOPPER_WGT6\",\"ALY_HOPPER_CODE7\",\"ALY_HOPPER_WGT7\",\"ALY_HOPPER_CODE8\",\"ALY_HOPPER_WGT8\",\"ALY_HOPPER_CODE9\",\"ALY_HOPPER_WGT9\",\"ALY_HOPPER_CODE10\",\"ALY_HOPPER_WGT10\",\"ALY_HOPPER_CODE11\",\"ALY_HOPPER_WGT11\",\"ALY_HOPPER_CODE12\",\"ALY_HOPPER_WGT12\",\"ALY_HOPPER_CODE13\",\"ALY_HOPPER_WGT13\"],\"title\":[\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\",\"ALY_HOPPER_CODE6\",\"ALY_HOPPER_WGT6\",\"ALY_HOPPER_CODE7\",\"ALY_HOPPER_WGT7\",\"ALY_HOPPER_CODE8\",\"ALY_HOPPER_WGT8\",\"ALY_HOPPER_CODE9\",\"ALY_HOPPER_WGT9\",\"ALY_HOPPER_CODE10\",\"ALY_HOPPER_WGT10\",\"ALY_HOPPER_CODE11\",\"ALY_HOPPER_WGT11\",\"ALY_HOPPER_CODE12\",\"ALY_HOPPER_WGT12\",\"ALY_HOPPER_CODE13\",\"ALY_HOPPER_WGT13\"]}]","tot":"json"},{"p":"Schema_Append_RH_EN","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"CHARGE_NO\"]},{\"table\":\"t_msg_3147\",\"table_title\":\"msg7\",\"column\":[\"ALY_HOPPER_CODE\",\"ALY_HOPPER_WGT\"],\"title\":[\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\"]}]","tot":"json"},{"p":"Schema_Append_MTL_LF_KR","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"강번\"]},{\"table\":\"t_msg_3111\",\"table_title\":\"msg8\",\"column\":[\"MTL_HOPPER_CODE1\",\"MTL_HOPPER_WGT1\",\"MTL_HOPPER_CODE2\",\"MTL_HOPPER_WGT2\",\"MTL_HOPPER_CODE3\",\"MTL_HOPPER_WGT3\",\"MTL_HOPPER_CODE4\",\"MTL_HOPPER_WGT4\",\"MTL_HOPPER_CODE5\",\"MTL_HOPPER_WGT5\",\"MTL_HOPPER_CODE6\",\"MTL_HOPPER_WGT6\",\"MTL_HOPPER_CODE7\",\"MTL_HOPPER_WGT7\",\"MTL_HOPPER_CODE8\",\"MTL_HOPPER_WGT8\",\"MTL_HOPPER_CODE9\",\"MTL_HOPPER_WGT9\",\"MTL_HOPPER_CODE10\",\"MTL_HOPPER_WGT10\",\"MTL_HOPPER_CODE11\",\"MTL_HOPPER_WGT11\",\"MTL_HOPPER_CODE12\",\"MTL_HOPPER_WGT12\",\"MTL_HOPPER_CODE13\",\"MTL_HOPPER_WGT13\"],\"title\":[\"부원료 투입 종류1\",\"부원료 투입량1\",\"부원료 투입 종류2\",\"부원료 투입량2\",\"부원료 투입 종류3\",\"부원료 투입량3\",\"부원료 투입 종류4\",\"부원료 투입량4\",\"부원료 투입 종류5\",\"부원료 투입량5\",\"부원료 투입 종류6\",\"부원료 투입량6\",\"부원료 투입 종류7\",\"부원료 투입량7\",\"부원료 투입 종류8\",\"부원료 투입량8\",\"부원료 투입 종류9\",\"부원료 투입량9\",\"부원료 투입 종류10\",\"부원료 투입량10\",\"부원료 투입 종류11\",\"부원료 투입량11\",\"부원료 투입 종류12\",\"부원료 투입량12\",\"부원료 투입 종류13\",\"부원료 투입량13\"]}]","tot":"json"},{"p":"Schema_Append_MTL_LF_EN","pt":"global","to":"[{\"table\":\"t_msg_history\",\"table_title\":\"msg\",\"column\":[\"CHARGE_NO\"],\"title\":[\"CHARGE_NO\"]},{\"table\":\"t_msg_3111\",\"table_title\":\"msg8\",\"column\":[\"MTL_HOPPER_CODE1\",\"MTL_HOPPER_WGT1\",\"MTL_HOPPER_CODE2\",\"MTL_HOPPER_WGT2\",\"MTL_HOPPER_CODE3\",\"MTL_HOPPER_WGT3\",\"MTL_HOPPER_CODE4\",\"MTL_HOPPER_WGT4\",\"MTL_HOPPER_CODE5\",\"MTL_HOPPER_WGT5\",\"MTL_HOPPER_CODE6\",\"MTL_HOPPER_WGT6\",\"MTL_HOPPER_CODE7\",\"MTL_HOPPER_WGT7\",\"MTL_HOPPER_CODE8\",\"MTL_HOPPER_WGT8\",\"MTL_HOPPER_CODE9\",\"MTL_HOPPER_WGT9\",\"MTL_HOPPER_CODE10\",\"MTL_HOPPER_WGT10\",\"MTL_HOPPER_CODE11\",\"MTL_HOPPER_WGT11\",\"MTL_HOPPER_CODE12\",\"MTL_HOPPER_WGT12\",\"MTL_HOPPER_CODE13\",\"MTL_HOPPER_WGT13\"],\"title\":[\"MTL_HOPPER_CODE1\",\"MTL_HOPPER_WGT1\",\"MTL_HOPPER_CODE2\",\"MTL_HOPPER_WGT2\",\"MTL_HOPPER_CODE3\",\"MTL_HOPPER_WGT3\",\"MTL_HOPPER_CODE4\",\"MTL_HOPPER_WGT4\",\"MTL_HOPPER_CODE5\",\"MTL_HOPPER_WGT5\",\"MTL_HOPPER_CODE6\",\"MTL_HOPPER_WGT6\",\"MTL_HOPPER_CODE7\",\"MTL_HOPPER_WGT7\",\"MTL_HOPPER_CODE8\",\"MTL_HOPPER_WGT8\",\"MTL_HOPPER_CODE9\",\"MTL_HOPPER_WGT9\",\"MTL_HOPPER_CODE10\",\"MTL_HOPPER_WGT10\",\"MTL_HOPPER_CODE11\",\"MTL_HOPPER_WGT11\",\"MTL_HOPPER_CODE12\",\"MTL_HOPPER_WGT12\",\"MTL_HOPPER_CODE13\",\"MTL_HOPPER_WGT13\"]}]","tot":"json"},{"p":"groupby_ALY","pt":"global","to":" msg.CHARGE_NO, msg7.ALY_HOPPER_ED_TM ","tot":"str"},{"p":"groupby_MTL","pt":"global","to":" msg.CHARGE_NO, msg8.MTL_HOPPER_ED_TM ","tot":"str"},{"p":"orderby","pt":"global","to":"msg.time asc","tot":"str"}],"active":true,"x":90,"y":40,"wires":[]},{"id":"f3643b5d.6563f8","type":"mqtt in","z":"dd48b724.c803f8","name":"","topic":"#","qos":"2","broker":"1c7f7996.7495a6","x":150,"y":2600,"wires":[["18e178a6.3b0b87"]]},{"id":"c3ecdfad.b6104","type":"comment","z":"dd48b724.c803f8","name":"MQTT Process","info":"","x":120,"y":2560,"wires":[]},{"id":"d1b8a278.6cf52","type":"comment","z":"dd48b724.c803f8","name":"HTTP LADLE POST Process","info":"","x":160,"y":120,"wires":[]},{"id":"feb21eef.cb0c","type":"comment","z":"50560b04.fa77e4","name":"L2 Data Sender","info":"","x":100,"y":460,"wires":[]},{"id":"217c3d14.cbb692","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["e5ffce6d.16971"]]},{"id":"e5ffce6d.16971","type":"function","z":"50560b04.fa77e4","name":"Make-Data-Set Ver 1.0","func":"//Function Area -----------------------------------------------------------------------------------------\nDate.prototype.yyyymmdd = function() {\n    function pad2(n) {  // always returns a string\n        return (n < 10 ? '0' : '') + n;\n    }\n\n    return this.getFullYear() +\n        pad2(this.getMonth() + 1) + \n        pad2(this.getDate()) +\n        pad2(this.getHours()) +\n        pad2(this.getMinutes()) +\n        pad2(this.getSeconds());\n};\n\nfunction getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(size) {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n\n    return checkLengthString(resultData, size);\n}\n\nfunction getBooleanData(value) {\n    if (value) {\n        return Math.round((Math.random() * 1) + 0) === 0;    \n    } else {\n        var resultStr = Math.round((Math.random() * 1) + 0) === 0;\n        if (resultStr == true)\n            return 1;\n        else\n            return 0;\n    }\n}\n\nfunction makeData(msgType, format, lastClose) {\n    console.log(msgType);\n    console.log(format);\n\n    var size = format.title.length;\n    var output = \"\";\n    for (var i=0; i<size; i++) {\n        switch(format.type[i]) {\n            case 'c' :\n                {\n                    if (msgType.TcNo === \"slab\") {\n                        console.log(msgType);\n                        if (i === 0)\n                            output += msgType.TcNo;\n                        else\n                            output += getUID(format.len[i]);\n                    } else if (msgType.TcNo === \"roll\") {\n                        if (i === 1)\n                            output += msgType.TcNo;\n                        else if (i === 0) {\n                            var date = new Date();\n                            output += date.yyyymmdd();\n                        } else\n                            output += getUID(format.len[i]);\n                    }\n                break;\n                }\n            case 'f' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n            case 'b' :\n                output += getBooleanData(false);\n                break;\n            case 'i' :\n                output += getRandomTemperator(format.len[i]);\n                break;\n        }\n    }\n    if (lastClose === true)\n        output += \"\\n\";\n    console.log(output);\n    console.log(output.length);\n    return output;\n}\n//Main Area ---------------------------------------------------------------------------------------------\nvar size = context.global.FormatData.length;\nvar formatArray = [];\nfor (var i=0; i<size; i++) {\n    var format = context.global.FormatData[i];\n    formatArray.push(format);\n}\nvar randomValue = Math.floor(Math.random()*(formatArray.length));\nvar element = formatArray[randomValue];\n\nmsg.payload = makeData(element, context.global.FormatObjMap.get(element.TcNo), false);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":500,"wires":[["5ac1fd37.e09014"]]},{"id":"5ac1fd37.e09014","type":"tcp request","z":"50560b04.fa77e4","server":"localhost","port":"50000","out":"sit","splitc":" ","name":"","x":590,"y":500,"wires":[["c7e88265.30f74"]]},{"id":"c7e88265.30f74","type":"function","z":"50560b04.fa77e4","name":"Response Data Convert","func":"var resultStrData = msg.payload.toString('utf-8');\nmsg.payload = resultStrData;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":500,"wires":[["8868d7c1.0d2f28"]]},{"id":"8868d7c1.0d2f28","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":500,"wires":[]},{"id":"eac0677b.bad4b8","type":"tcp in","z":"dd48b724.c803f8","name":"TCP Server","server":"server","host":"","port":"50000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":150,"y":340,"wires":[["80ebba84.041508","8b8410da.006ab"]]},{"id":"78a3ad3.0b6b854","type":"comment","z":"dd48b724.c803f8","name":"TCP Server Process","info":"","x":130,"y":280,"wires":[]},{"id":"6185bf51.5192d","type":"comment","z":"6fa9e4c0.b52b2c","name":"Input Infomation Insert to DB","info":"","x":200,"y":60,"wires":[]},{"id":"d2e900bf.b2eaa","type":"function","z":"6fa9e4c0.b52b2c","name":"Set Msg Type","func":"var strData = msg.payload.toString('utf-8');\nmsg.payload = strData;\nmsg.type = \"recv\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":100,"wires":[["f48cf4b.c3fd508"]]},{"id":"f48cf4b.c3fd508","type":"function","z":"6fa9e4c0.b52b2c","name":"Create Log Data Query ","func":"var sender_ip = \"\";\nif (msg.type === \"recv\")\n    sender_ip = msg.ip.slice(7, msg.ip.length);\nelse\n    sender_ip = msg.ip;\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (value[i] === \"message\")\n            continue;\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\nvar queryStr = \"\";\n\nif (msg.type === \"recv\")\n    queryStr = \"insert into \" + context.global.LogFormat.recv + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nelse if (msg.type === \"send\")\n    queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\nmsg.topic = queryStr;\nconsole.log(queryStr);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["d4d6a152.01891"]]},{"id":"d4d6a152.01891","type":"mysql","z":"6fa9e4c0.b52b2c","mydb":"bbc8e34a.156b7","name":"","x":610,"y":100,"wires":[[]]},{"id":"ff3d3e69.b02db","type":"comment","z":"dd48b724.c803f8","name":"Input Infomation Insert to DB","info":"","x":420,"y":300,"wires":[]},{"id":"8b8410da.006ab","type":"function","z":"dd48b724.c803f8","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\nvar sender_ip = msg.ip.slice(7, msg.ip.length);\nvar measurementName = `posco-l2-recv-${YYYYMMDD}`;\nvar sender_port = msg.port;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nvar strData = msg.payload.toString('utf-8');\n\nmsg.payload = [{\n    measurement:measurementName,\n    fields:{\n        Data:strData\n    },\n    tags: {\n        TcNo:msg.tag,\n        IP:sender_ip\n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["57929c84.7d0824"]]},{"id":"57929c84.7d0824","type":"influxdb batch","z":"dd48b724.c803f8","influxdb":"f91f082.51f08f8","precision":"ms","retentionPolicy":"","name":"","x":690,"y":340,"wires":[]},{"id":"8873b65f.5603e8","type":"comment","z":"dd48b724.c803f8","name":"Data Slice and Insert to DB","info":"","x":410,"y":380,"wires":[]},{"id":"6918f289.f37ecc","type":"function","z":"dd48b724.c803f8","name":"Create insert mariadb query ","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction makeColumnString(dataType, valueData) {\n    // console.log(dataType);\n    var title = dataType.dbsechma;\n    var type = dataType.type;\n    var columns = \"(\";\n    var values = \"(\";\n    // console.log(title);\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'char')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'char') {\n                values += valueData.get(title[i]) + \",\";\n                // console.log(valueData.get(title[i]));\n            } else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    console.log(result);\n    return result;\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar dataMap = context.global.dataMap;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\n// console.log(dataMap);\n// console.log(msg.tag);\n// console.log(dataFormat);\n//ON DUPLICATE KEY UPDATE\nvar lastquery = \"on dupligate key update time = values (TIMESTAMP)\"\nvar queryInputData = makeColumnString(dataFormat, dataMap);\nvar queryStr = \"insert into \" + dataFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":420,"wires":[["5168edeb.c93b54","33d7383.5889bc8","a8f79308.cfd8c"]]},{"id":"511134ec.3344ec","type":"function","z":"dd48b724.c803f8","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-msg-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TC_CODE:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["ab814987.3fd4d8"]]},{"id":"ab814987.3fd4d8","type":"influxdb batch","z":"dd48b724.c803f8","influxdb":"2292ed78.da37c2","precision":"ms","retentionPolicy":"","name":"","x":1010,"y":480,"wires":[]},{"id":"5168edeb.c93b54","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":970,"y":420,"wires":[[]]},{"id":"80ebba84.041508","type":"function","z":"dd48b724.c803f8","name":"Buffer Parsing Process","func":"function checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n        \n    if (context.global.dataType === undefined || context.global.dataType === null)\n        context.global.dataType = new Map();\n    else\n        context.global.dataType.clear();\n    // console.log(format);\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i === 0) {\n            sumTotal += (format.len[i])\n            if (format.type[i] === 'char') {\n                context.global.dataMap.set(format.title[i],msg.payload.slice(i, sumTotal).toString('utf-8'));\n            } else if (format.type[i] === 'short') {\n                var buff = new Buffer(format.len[i]);\n                buff = msg.payload.slice(i, sumTotal);\n                var inputValue = (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);\n                delete buff;\n            } else if (format.type[i] === 'int') {\n                var buff = new Buffer(format.len[i]);\n                buff = msg.payload.slice(i, sumTotal);\n                var inputValue = (buff.readUInt8(3) << 24) + (buff.readUInt8(2) << 16) + (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);\n                delete buff;\n            } \n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            // console.log(\"first :\" +sumTotal + \" cut :\" +  ((sumTotal) + format.len[i]));\n            var buff = new Buffer(format.len[i]);\n            buff = msg.payload.slice(sumTotal, (sumTotal) + format.len[i]);\n\n            if (format.type[i] === 'char') {\n                // console.log(format.title[i] + \"/\" + buff.toString('utf-8'));\n\n                if (format.title[i] === \"Length\") {\n                    var strTemp = format.Length;\n                    context.global.dataMap.set(format.title[i], checkLengthString(strTemp, format.len[i]));\n                } else if(format.title[i] === \"Spare\") {\n                    context.global.dataMap.set(format.title[i], checkLengthString(\"\", format.len[i]));\n                } else\n                    context.global.dataMap.set(format.title[i], buff.toString('utf-8'));\n                    \n            } else if (format.type[i] === 'short') {\n                var inputValue = (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);\n            } else if (format.type[i] === 'int') {\n                var inputValue = (buff.readUInt8(3) << 24) + (buff.readUInt8(2) << 16) + (buff.readUInt8(1) << 8) + buff.readUInt8(0);\n                context.global.dataMap.set(format.title[i], inputValue);               \n            }\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n            delete buff;\n        }\n    }\n}\n\nfunction confirmMsg(strData) {\n    var buff = new Buffer(4);\n    buff = msg.payload.slice(3,7);\n    var tcNo = buff.toString('utf-8');\n    delete buff;\n    \n    var defineData = context.global.FormatObjMap.get(tcNo);\n    console.log(defineData);\n    console.log(tcNo);\n    translateData(strData, defineData);\n}\n\nconfirmMsg(msg.payload);\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n// console.log(context.global.dataMap);\n// console.log(context.global.dataType);\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'char') {\n        // console.log(value);\n        // object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TC_CODE')\n            msg.tag = value;\n        else if (key === 'Length') {\n            // console.log(value);\n            // object[key] = value.trim();\n            object[key] = parseInt(value);\n        } else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\ncontext.global.dataType = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["511134ec.3344ec","6918f289.f37ecc","ceb7b568.d8fca8","4b36f76d.8a6c68"]]},{"id":"40f787ac.7d01f8","type":"tcp out","z":"dd48b724.c803f8","host":"192.168.35.193","port":"52010","beserver":"client","base64":false,"end":true,"name":"Send To Media Server","x":1020,"y":540,"wires":[]},{"id":"afa08887.d5d528","type":"function","z":"dd48b724.c803f8","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\nvar sender = global.get(\"LogFormat\");\nvar send_msg = msg.sendmsg;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nvar strData = msg.payload.toString('utf-8');\nconsole.log(strData);\nmsg.payload = [{\n    measurement:`posco-send-media-${YYYYMMDD}`,\n    fields:{\n        Data:strData\n    },\n    tags: {\n        TcNo:msg.tag,\n        IP:sender.image_Server_IP\n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":600,"wires":[["adc5907f.3932e"]]},{"id":"adc5907f.3932e","type":"influxdb batch","z":"dd48b724.c803f8","influxdb":"2292ed78.da37c2","precision":"ms","retentionPolicy":"","name":"","x":1230,"y":600,"wires":[]},{"id":"896bd933.943e78","type":"mysql","z":"6fa9e4c0.b52b2c","mydb":"bbc8e34a.156b7","name":"","x":670,"y":200,"wires":[[]]},{"id":"2b726f29.267dd","type":"influxdb batch","z":"6fa9e4c0.b52b2c","influxdb":"966b8018.561d5","precision":"ms","retentionPolicy":"","name":"","x":710,"y":260,"wires":[]},{"id":"232bb8fb.33a9d8","type":"function","z":"6fa9e4c0.b52b2c","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\n\n// msg.measurement = `posco-slab-${YYYYMMDD}`;\n\nmsg.payload = [{\n    measurement:`posco-slab-${YYYYMMDD}`,\n    fields:msg.fields,\n    tags: {TcNo:msg.tag}\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["2b726f29.267dd"]]},{"id":"b6499e26.59b46","type":"function","z":"6fa9e4c0.b52b2c","name":"Create insert mariadb query ","func":"//Function Area -----------------------------------------------------------------------------------------\nfunction makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(uuid,\";\n    var values = \"(\\\"\" + msg._msgid + \"\\\",\";\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            columns += title[i] + \")\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \")\";\n            else\n                values += \"'\" + valueData.get(title[i]) + \"')\";\n        } else {\n            columns += title[i] + \",\";\n            if (type[i] !== 'c')\n                values += valueData.get(title[i]) + \",\";\n            else \n                values += \"'\" + valueData.get(title[i]) + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    return result;\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar dataMap = context.global.dataMap;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\nvar queryInputData = makeColumnString(dataFormat, dataMap);\nvar queryStr = \"insert into \" + dataFormat.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr;\n\nmsg.topic = queryStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["896bd933.943e78"]]},{"id":"6228bcb7.712994","type":"function","z":"6fa9e4c0.b52b2c","name":"Data Process","func":"//Function Area -----------------------------------------------------------------------------------------\ncontext.global.dataType = new Map();\n\nString.prototype.trim = function() {\n    return this.replace(/^\\s+|\\s+$/g,\"\");\n}\n\n/* \n    Return Map Data (format.title, value)\n*/\nfunction translateData(str, format) {\n    // var dataMap = new Map();\n    if (context.global.dataMap === undefined || context.global.dataMap === null)\n        context.global.dataMap = new Map();\n    else \n        context.global.dataMap.clear();\n    var sumTotal = 0;\n    for (var i=0;i< format.title.length;i++) {\n        if (i === 0) {\n            sumTotal += (format.len[i])\n            context.global.dataMap.set(format.title[i], str.slice(i, sumTotal))\n            context.global.dataType.set(format.title[i], format.type[i]);\n        } else {\n            context.global.dataMap.set(format.title[i], str.slice(sumTotal, sumTotal + format.len[i]));\n            sumTotal += format.len[i];\n            context.global.dataType.set(format.title[i], format.type[i]);\n        }\n    }\n    // console.log(context.global.dataMap);\n}\n\nfunction confirmMsg(strData) {\n    var size = context.global.FormatData.length;\n    for (var i=0; i<size; i++) {\n        var format = context.global.FormatData[i];\n        if (strData.length === format.DataLength) {\n            var sliceStr = strData.slice(format.TcNoPosition[0], format.TcNoPosition[1]);\n            if (sliceStr === format.TcNo) {\n                var defineData = context.global.FormatObjMap.get(format.TcNo);\n                translateData(strData, defineData);\n            } else {\n                node.log(\"TcNo : \" + sliceStr + \" Length : \" + strData.length);\n            }\n            \n        } else {\n            continue;\n        }\n    }\n}\n\n//Main Area -----------------------------------------------------------------------------------------\nvar strData = msg.payload.toString('utf-8');\nconfirmMsg(strData);\n\n\n\n// var mapData = translateData(msg.payload, context.global.SlabFormat);\n// console.log(context.global.dataType);\n//JSON으로 변환시 이용\nvar object = {};\ncontext.global.dataMap.forEach((value, key) => {\n    if (context.global.dataType.get(key) !== 'c') {\n        // console.log(value)ds;\n        object[key] = value.trim();\n        object[key] = parseFloat(value);\n    } else {\n        if (key === 'TcNo')\n            msg.tag = value;\n        else\n            object[key] = value;\n    }\n});\n\nmsg.fields = object;\ncontext.global.dataType = null;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":200,"wires":[["b6499e26.59b46","232bb8fb.33a9d8"]]},{"id":"5def779d.537f28","type":"comment","z":"6fa9e4c0.b52b2c","name":"Data Slice and Insert to DB","info":"","x":190,"y":160,"wires":[]},{"id":"41025d7c.fd8544","type":"inject","z":"6fa9e4c0.b52b2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":380,"wires":[["fa8d03a9.e171a"]]},{"id":"24543cd1.ca4724","type":"function","z":"6fa9e4c0.b52b2c","name":"Set LadleData","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n    }\n    return out;\n}\n\nfunction checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"/\" + checkZeroTime(nowTime.getMonth()+1) + \"/\" + checkZeroTime(nowTime.getDate())  + \" \" + checkZeroTime(nowTime.getHours()) + \":\" + checkZeroTime(nowTime.getMinutes()) + \":\" + checkZeroTime(nowTime.getSeconds()) + \".\" + checkZeroTimeMillisec(nowTime.getMilliseconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\";\n    for (var i=0; i< context.global.SendDataFormat.title.length; i++) {\n        if (context.global.SendDataFormat.title[i] === 'TcNo') {\n            returnStr += msg.sendmsg;\n            continue;\n        } else if (context.global.SendDataFormat.title[i] === \"L2_Stime\") {\n            returnStr += nowDateFormat();\n        } else {\n            if (context.global.dataMap === undefined) {\n                returnStr += getUID(context.global.SendDataFormat.len[i]);\n                continue;\n            } else {\n                var valueStr = context.global.dataMap.get(context.global.SendDataFormat.title[i]);\n                returnStr += checkLengthString(valueStr, context.global.SendDataFormat.len[i]);\n            }\n        }\n    }\n    if (value === true) {\n        returnStr += \"\\n\";\n    }\n    return returnStr;\n}\n\nmsg.payload = createDataRefine(false);\n\nconsole.log(msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":500,"wires":[[]]},{"id":"a7eb1bee.4092e8","type":"tcp out","z":"6fa9e4c0.b52b2c","host":"192.168.0.104","port":"52003","beserver":"client","base64":false,"end":false,"name":"","x":990,"y":400,"wires":[]},{"id":"13caed1d.ba93f3","type":"function","z":"6fa9e4c0.b52b2c","name":"Create Log Data Query ","func":"var sender_ip = context.global.LogFormat.image_Server_IP;\nvar sender_port = context.global.LogFormat.send_Port;\nvar send_msg = msg.sendmsg;\nvar send_data = msg.payload;\nvar data_length = msg.payload.length;\n\nfunction makeColumnString(value) {\n    var returnStr = \"(\";\n    for (var i=0;i<value.length;i++) {\n        if (i+1 == value.length)\n            returnStr += value[i] + \")\";\n        else\n            returnStr += value[i] + \",\";\n    }\n    return returnStr;\n}\n\nfunction makeValueString() {\n    return \"(\\\"\" + msg._msgid + \"\\\",\" + \"\\\"\" + sender_ip + \"\\\",\" + sender_port + \",\" + \"\\\"\" + send_msg + \"\\\",\" + data_length + \", \\\"\" + send_data + \"\\\")\";\n}\n\nif (msg.payload !== null) {\n    var queryStr = \"insert into \" + context.global.LogFormat.send + makeColumnString(context.global.LogFormat.column) + \" values \" + makeValueString();\n    console.log(queryStr);\n    msg.topic = queryStr;\n\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":980,"y":500,"wires":[["916fb640.eceda8"]]},{"id":"916fb640.eceda8","type":"mysql","z":"6fa9e4c0.b52b2c","mydb":"5af58e3d.59b3c","name":"","x":1210,"y":500,"wires":[[]]},{"id":"73a98e18.3da33","type":"debug","z":"6fa9e4c0.b52b2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":600,"wires":[]},{"id":"401ae8c0.c5a1b8","type":"comment","z":"6fa9e4c0.b52b2c","name":"LADLE Send AI Server ","info":"","x":180,"y":320,"wires":[]},{"id":"fa8d03a9.e171a","type":"function","z":"6fa9e4c0.b52b2c","name":"Send Message CP11","func":"msg.sendmsg = \"CP11\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["24543cd1.ca4724"]]},{"id":"eb390bd3.a64898","type":"inject","z":"6fa9e4c0.b52b2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":440,"wires":[["c7734de4.f0e5e"]]},{"id":"c7734de4.f0e5e","type":"function","z":"6fa9e4c0.b52b2c","name":"Send Message CP12","func":"msg.sendmsg = \"CP12\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["24543cd1.ca4724"]]},{"id":"e6d86013.4264b","type":"inject","z":"6fa9e4c0.b52b2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":500,"wires":[["57fafc35.4e69f4"]]},{"id":"57fafc35.4e69f4","type":"function","z":"6fa9e4c0.b52b2c","name":"Send Message CP13","func":"msg.sendmsg = \"CP13\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["24543cd1.ca4724"]]},{"id":"a85f3a65.de65f8","type":"inject","z":"6fa9e4c0.b52b2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["2f53fdb3.53dde2"]]},{"id":"2f53fdb3.53dde2","type":"function","z":"6fa9e4c0.b52b2c","name":"Send Message CP14","func":"msg.sendmsg = \"CP14\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":560,"wires":[["24543cd1.ca4724"]]},{"id":"28bb7eb6.5e0942","type":"inject","z":"6fa9e4c0.b52b2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["d9397f3b.bada7"]]},{"id":"d9397f3b.bada7","type":"function","z":"6fa9e4c0.b52b2c","name":"Send Message CP15","func":"msg.sendmsg = \"CP15\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["24543cd1.ca4724"]]},{"id":"c6e48e3b.41a32","type":"http response","z":"dd48b724.c803f8","name":"","statusCode":"","headers":{},"x":1030,"y":120,"wires":[]},{"id":"41f1142c.73da1c","type":"function","z":"dd48b724.c803f8","name":"response-ladle","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    result:\"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["c6e48e3b.41a32"]]},{"id":"b4ad4a9d.ffa238","type":"function","z":"dd48b724.c803f8","name":"construct","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate());\n}\n\nvar p = msg.payload;\nvar metric = {};\n\nvar path = global.get(\"basePath\");\nvar camera = p.id;\n\nif (context.global.todaydate === undefined) {\n    context.global.todaydate = nowDateFormat();\n}\n\nvar date = context.global.todaydate;\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    //path: path + date + \"\\\\\\\\\",\n    path: path + date + \"\\\\\\\\\" + camera + \"\\\\\\\\\",\n    image: p.image,\n    directory : date,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":540,"y":160,"wires":[["41f1142c.73da1c"],["8e6708c6.c50088"]]},{"id":"8e6708c6.c50088","type":"function","z":"dd48b724.c803f8","name":"img","func":"var fs = global.get(\"mkdirp\");\n\nfs(msg.path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\n\nvar b = global.get(\"base64-to-image\");\n\nvar filePrefix = global.get(\"fileLadlePrefix\");\n\nvar image = msg.image;\nvar path = msg.path;\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\nvar option = {\n    fileName: fileName,\n    type: 'jpg'\n};\n\nvar imageInfo = b(image, path, option);\n\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["9131155f.f1bf68","3ee141bc.09444e"]]},{"id":"9131155f.f1bf68","type":"function","z":"dd48b724.c803f8","name":"SQL","func":"var sno_one_sql = \"INSERT INTO t_ladle_capture_1 (uuid, sno, temp, fileName, absPath, directory) values \";\nvar sno_two_sql = \"INSERT INTO t_ladle_capture_2 (uuid, sno, temp, fileName, absPath, directory) values \";\nvar sql = \"\";\nvar r = {\n    uuid: msg._msgid,\n    sno: msg.metric.id,\n    temp: msg.metric.t,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n    directory: msg.directory\n};\n\nvar values =  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.sno + \"\\\"\" + \",\"\nvalues +=  r.temp + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.directory + \"\\\"\"\n\nif (msg.metric.id === \"CAM01\")\n    sql = sno_one_sql + \"(\" + values + \");\"\nelse\n    sql = sno_two_sql + \"(\" + values + \");\"\n\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":160,"wires":[["347f0e5c.960752"]]},{"id":"347f0e5c.960752","type":"mysql","z":"dd48b724.c803f8","mydb":"8181593f.ab1698","name":"posco-ai","x":1160,"y":160,"wires":[[]]},{"id":"3ee141bc.09444e","type":"function","z":"dd48b724.c803f8","name":"Create MQTT Data ","func":"var fileName = msg.info.fileName;\nvar folder = msg.info.path;\nconsole.log(msg.metric);\nvar jsonData = \n{\n    \"uuid\":msg._msgid,\n    \"camera\":msg.metric.id\n}\n\nmsg.payload = jsonData;\n\nmsg.topic = \"THINGSPIN/EDGEAI/KR/IN/0\";\nmsg.qos = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":220,"wires":[["b628eb14.55cbd8"]]},{"id":"7add1704.9567b8","type":"mqtt out","z":"dd48b724.c803f8","name":"","topic":"","qos":"","retain":"","broker":"3fc62f75.7b418","x":1390,"y":220,"wires":[]},{"id":"b628eb14.55cbd8","type":"delay","z":"dd48b724.c803f8","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":220,"wires":[["7add1704.9567b8"]]},{"id":"3fab07c.96b07f8","type":"mqtt in","z":"dd48b724.c803f8","name":"","topic":"THINGSPIN/EDGEAI/+/OUT","qos":"0","broker":"e953685d.674b18","x":220,"y":2680,"wires":[["a4905567.1890e8"]]},{"id":"a4905567.1890e8","type":"json","z":"dd48b724.c803f8","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":2680,"wires":[["331fd97a.aa3606","a9f95e19.0a99f","8f5f8d89.af568","d73d53c1.9b1f5"]]},{"id":"a9f95e19.0a99f","type":"function","z":"dd48b724.c803f8","name":"Make Update DB Query","func":"function removeLastComma(strng){        \n    var n=strng.lastIndexOf(\",\");\n    var a=strng.substring(0,n) \n    return a;\n}\n\nfunction makeColumnString(dataType, valueData) {\n    var title = dataType.title;\n    var type = dataType.type;\n    var columns = \"(\";\n    var values = \"(\";\n    for (var i=0; i<title.length;i++) {\n        if (i+1 == title.length) {\n            if (valueData[title[i]] === undefined) {\n                columns = removeLastComma(columns);\n                columns += \")\";\n                values = removeLastComma(values);\n                values += \")\";\n                continue;\n            } else {\n                columns += title[i] + \")\";\n                if (type[i] !== 'char')\n                    values += valueData[title[i]] + \")\";\n                else\n                    values += \"'\" + valueData[title[i]] + \"')\";\n            }\n        } else {\n            if (valueData[title[i]] === undefined)\n                continue;\n            columns += title[i] + \",\";\n            if (type[i] !== 'char')\n                values += valueData[title[i]] + \",\";\n            else \n                values += \"'\" + valueData[title[i]] + \"',\";\n        }\n    }\n    var result = {\n        columnStr : columns,\n        valueStr : values\n    };\n    return result;\n}\n\nfunction makeQueryData() {\n    var queryInputData = makeColumnString(ml_db_info, msg.payload);\n    var dupligate = \" on duplicate key update uuid=uuid\";\n\n    var queryStr = \"insert into \" + ml_db_info.db + queryInputData.columnStr + \" values \" + queryInputData.valueStr; //dupligate;\n    console.log(queryStr);\n    msg.topic = queryStr;\n}\n\nvar ml_db_info;\nvar inputData = msg.payload;\nif (inputData[\"camera\"] === \"CAM01\") {\n    if (inputData[\"uuid\"].length > 0) {\n        ml_db_info = global.get(\"ML_RESULT_1\");\n        makeQueryData();\n        return msg;\n    }\n} else if (inputData[\"camera\"] === \"CAM02\") {\n    if (inputData[\"uuid\"].length > 0) {\n        ml_db_info = global.get(\"ML_RESULT_2\");\n        makeQueryData();\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":710,"y":2580,"wires":[["24f4903f.31425","a9b45f40.cbae5"]]},{"id":"24f4903f.31425","type":"mysql","z":"dd48b724.c803f8","mydb":"ad4d3d1b.0d3a5","name":"","x":930,"y":2600,"wires":[[]]},{"id":"d73d53c1.9b1f5","type":"function","z":"dd48b724.c803f8","name":"Make Data to L2 Server","func":"var dataFormat;\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n    var parseData = parseFloat(resultData);\n    var buff = new Buffer(4);\n    \n    return buff.writeFloatBE(parseData);\n}\n\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate()) + checkZeroTime(nowTime.getHours()) + checkZeroTime(nowTime.getMinutes()) + checkZeroTime(nowTime.getSeconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction initDataFormat(code) {\n    console.log(code);\n    switch(code) {\n        case \"3001\":\n            dataFormat = global.get(\"S_MSG_3001\");\n            return true;\n        case \"3002\":\n            dataFormat = global.get(\"S_MSG_3002\");\n            return true;\n        case \"3003\":\n            dataFormat = global.get(\"S_MSG_3003\");\n            return true;\n        case \"3010\":\n            dataFormat = global.get(\"S_MSG_3010\");\n            return true;\n        case \"3011\":\n            dataFormat = global.get(\"S_MSG_3011\");\n            return true;            \n        default:\n            return false;\n    }\n}\n\nconsole.log(msg.payload[\"tc_code\"]);\n\nif(initDataFormat(msg.payload[\"tc_code\"])) {\n    var sendBuff = new Buffer(dataFormat.Length);\n    sendBuff.fill(0);\n    var sumTotal = 0;\n    for (var count=0;count < dataFormat.title.length;count++) {\n        var title = dataFormat.title[count];\n\n        if (dataFormat.type[count] === \"char\") {\n            if (title === \"Process\" || title === \"TC_CODE\") {\n                if (count === 0) {\n                    console.log(\"sumTotal : \" + 0 + \" END : \" + dataFormat.len[count]);\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], 0, dataFormat.len[count]);    \n                } else {\n                    console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], sumTotal, ((sumTotal) + dataFormat.len[count]));\n                }\n            } else if (title === \"Time\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                var date = nowDateFormat();\n                console.log(date);\n                sendBuff.write(date, sumTotal, (sumTotal) + dataFormat.len[count]);\n            } else if (title === \"Length\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(dataFormat.Length + \"   \");\n                sendBuff.write(dataFormat.Length + \"   \", sumTotal, ((sumTotal) + dataFormat.len[count]));\n            } else if (title === \"Spare\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(\"             \");\n                sendBuff.write(\"             \", sumTotal, (sumTotal) + dataFormat.len[count]);\n            }\n            sumTotal += (dataFormat.len[count]);\n        } else if (dataFormat.type[count] === \"float\") {\n            console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) - dataFormat.len[count]));\n            // sendBuff.writeFloatLE(15.357, sumTotal);\n            console.log(parseFloat(msg.payload[\"result\"]));\n            sendBuff.writeFloatLE(parseFloat(msg.payload[\"result\"]), sumTotal);\n            console.log(sendBuff);\n            // sendBuff += getRandomTemperator();\n        }\n    }\n}\n// var sendBuff = new Buffer(header);\n// console.log(sendBuff);\n// const buf = Buffer.allocUnsafe(4);\n// buf.writeFloatBE(0xcafebabe, 0);\n// console.log(buf)            \n// console.log(sendBuff + buf);\n\nmsg.payload = sendBuff;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2680,"wires":[["33f4f30a.830e1c","93e1b80b.b18c08"]]},{"id":"33f4f30a.830e1c","type":"tcp out","z":"dd48b724.c803f8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Reply To L2 Server","x":970,"y":2700,"wires":[]},{"id":"18e178a6.3b0b87","type":"debug","z":"dd48b724.c803f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":2600,"wires":[]},{"id":"d22049fb.5633b8","type":"function","z":"50560b04.fa77e4","name":"Make Simulation Data","func":"function getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *1000);\n    var topValue = Math.round(Math.random() *1000);\n    var resultData = topValue + \".\" + bottomValue;\n    return parseFloat(resultData);\n    \n}\n\nmsg.payload = {\n    \"uuid\" : \"\",\n    \"project\": \"pro-1\",\n    \"tc_code\": msg.sendType,\n    \"spare\": \"spare\",\n    \"camera\": \"CAM01\",\n    \"result\": getRandomTemperator()\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":800,"wires":[["b5d277c0.d059d8","fba79bb6.28c138"]]},{"id":"b5d277c0.d059d8","type":"mqtt out","z":"50560b04.fa77e4","name":"","topic":"THINGSPIN/EDGEAI/0/OUT","qos":"0","retain":"false","broker":"c8540511.1f9cb8","x":860,"y":780,"wires":[]},{"id":"667376f6.1338c8","type":"comment","z":"50560b04.fa77e4","name":"MQTT Sender","info":"","x":90,"y":600,"wires":[]},{"id":"a9b45f40.cbae5","type":"debug","z":"dd48b724.c803f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":2560,"wires":[]},{"id":"a2005287.e9856","type":"tcp out","z":"dd48b724.c803f8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Reply To L2 Server","x":990,"y":2400,"wires":[]},{"id":"d152bea8.df42","type":"function","z":"dd48b724.c803f8","name":"Make Data to L2 Server","func":"var dataType = msg.sendType;\nvar data = msg.value;\nvar dataFormat;\n\nfunction getRandomTemperator() {\n    var bottomValue = Math.round(Math.random() *100);\n    var topValue = Math.round(Math.random() *100);\n    var resultData = topValue + \".\" + bottomValue;\n    var parseData = parseFloat(resultData);\n    var buff = new Buffer(4);\n    \n    return buff.writeFloatBE(parseData);\n}\n\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate()) + checkZeroTime(nowTime.getHours()) + checkZeroTime(nowTime.getMinutes()) + checkZeroTime(nowTime.getSeconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction initDataFormat(value) {\n    console.log(value);\n    switch(value) {\n        case \"3001\":\n            dataFormat = global.get(\"S_MSG_3001\");\n            return true;\n        case \"3002\":\n            dataFormat = global.get(\"S_MSG_3002\");\n            return true;\n        case \"3003\":\n            dataFormat = global.get(\"S_MSG_3003\");\n            return true;\n        case \"3010\":\n            dataFormat = global.get(\"S_MSG_3010\");\n            return true;\n        case \"3011\":\n            dataFormat = global.get(\"S_MSG_3011\");\n            return true;\n        default:\n            return false;\n    }\n}\n\nif(initDataFormat(dataType)) {\n    console.log(dataFormat);\n    var sendBuff = new Buffer(dataFormat.Length);\n    sendBuff.fill(0);\n    var sumTotal = 0;\n    for (var count=0;count < dataFormat.title.length;count++) {\n        var title = dataFormat.title[count];\n\n        if (dataFormat.type[count] === \"char\") {\n            if (title === \"Process\" || title === \"TC_CODE\") {\n                if (count === 0) {\n                    console.log(\"sumTotal : \" + 0 + \" END : \" + dataFormat.len[count]);\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], 0, dataFormat.len[count]);    \n                } else {\n                    console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                    console.log(dataFormat.values[count]);\n                    sendBuff.write(dataFormat.values[count], sumTotal, ((sumTotal) + dataFormat.len[count]));\n                }\n            } else if (title === \"Time\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                var date = nowDateFormat();\n                console.log(date);\n                sendBuff.write(date, sumTotal, (sumTotal) + dataFormat.len[count]);\n            } else if (title === \"Length\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(dataFormat.Length + \"   \");\n                sendBuff.write(dataFormat.Length + \"   \", sumTotal, ((sumTotal) + dataFormat.len[count]));\n            } else if (title === \"Spare\") {\n                console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) + dataFormat.len[count]));\n                console.log(\"             \");\n                sendBuff.write(\"             \", sumTotal, (sumTotal) + dataFormat.len[count]);\n            }\n            sumTotal += (dataFormat.len[count]);\n        } else if (dataFormat.type[count] === \"float\") {\n            console.log(\"sumTotal : \" + sumTotal + \" END : \" + ((sumTotal) - dataFormat.len[count]));\n            // sendBuff.writeFloatLE(15.357, sumTotal);\n            sendBuff.writeFloatLE(parseFloat(\"15.357\"), sumTotal);\n            console.log(sendBuff);\n            // sendBuff += getRandomTemperator();\n        }\n    }\n}\n// var sendBuff = new Buffer(header);\n// console.log(sendBuff);\n// const buf = Buffer.allocUnsafe(4);\n// buf.writeFloatBE(0xcafebabe, 0);\n// console.log(buf)            \n// console.log(sendBuff + buf);\n\nmsg.payload = sendBuff;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2400,"wires":[["a2005287.e9856","27f89e45.fa4512"]]},{"id":"f71611a9.43295","type":"function","z":"dd48b724.c803f8","name":"T/C Code 3002","func":"msg.sendType = \"3002\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2340,"wires":[["d152bea8.df42"]]},{"id":"99c48122.bf13","type":"function","z":"dd48b724.c803f8","name":"T/C Code 3003","func":"msg.sendType = \"3003\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2400,"wires":[["d152bea8.df42"]]},{"id":"9d114dfc.90046","type":"function","z":"dd48b724.c803f8","name":"T/C Code 3010","func":"msg.sendType = \"3010\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2460,"wires":[["d152bea8.df42"]]},{"id":"5f7a02c9.d2147c","type":"function","z":"dd48b724.c803f8","name":"T/C Code 3001","func":"msg.sendType = \"3001\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2280,"wires":[["d152bea8.df42"]]},{"id":"18b3cfd.27e933","type":"inject","z":"dd48b724.c803f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2340,"wires":[["f71611a9.43295"]]},{"id":"14c5531c.b9a2fd","type":"inject","z":"dd48b724.c803f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2400,"wires":[["99c48122.bf13"]]},{"id":"37f315b1.a42b4a","type":"inject","z":"dd48b724.c803f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2460,"wires":[["9d114dfc.90046"]]},{"id":"1a0cd5e5.79aa9a","type":"inject","z":"dd48b724.c803f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2280,"wires":[["5f7a02c9.d2147c"]]},{"id":"942c06df.d8d0d8","type":"comment","z":"dd48b724.c803f8","name":"L2 Receive Data","info":"","x":120,"y":2240,"wires":[]},{"id":"c5ed9ba0.681008","type":"function","z":"dd48b724.c803f8","name":"T/C Code 3011","func":"msg.sendType = \"3011\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2520,"wires":[["d152bea8.df42"]]},{"id":"f807a188.0affe","type":"inject","z":"dd48b724.c803f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2520,"wires":[["c5ed9ba0.681008"]]},{"id":"90e27029.96912","type":"function","z":"dd48b724.c803f8","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\nvar inputData = msg.payload;\n\nmsg.payload = [{\n    measurement:`posco-post-recv-${YYYYMMDD}`,\n    fields:{\n        Data:JSON.stringify(inputData)\n    },\n    tags: {\n        Camera:inputData.id        \n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["67ac0aaf.8c94b4"]]},{"id":"67ac0aaf.8c94b4","type":"influxdb batch","z":"dd48b724.c803f8","influxdb":"f91f082.51f08f8","precision":"ms","retentionPolicy":"","name":"","x":790,"y":220,"wires":[]},{"id":"331fd97a.aa3606","type":"function","z":"dd48b724.c803f8","name":"Influx Data Process","func":"//Main Area -----------------------------------------------------------------------------------------\nlet YYYYMMDD = context.global.todaydate;\nif (!YYYYMMDD) {\n    YYYYMMDD = \"20180101\";\n}\nvar inputData = msg.payload;\nmsg.payload = [{\n    measurement:`posco-send-l2-${YYYYMMDD}`,\n    fields:{\n        uuid:inputData.uuid,\n        project:inputData.project,\n        camera:inputData.camera,\n        result:inputData.result,\n        spare:inputData.spare\n    },\n    tags: {\n        TcNo:inputData.tc_code\n    }\n}]\n\ndelete msg.fields;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2820,"wires":[["7670c612.33b958"]]},{"id":"7670c612.33b958","type":"influxdb batch","z":"dd48b724.c803f8","influxdb":"2292ed78.da37c2","precision":"ms","retentionPolicy":"","name":"","x":970,"y":2820,"wires":[]},{"id":"33d7383.5889bc8","type":"function","z":"dd48b724.c803f8","name":"History data insert","func":"var dataMap = context.global.dataMap;\nvar dataFormat = context.global.FormatObjMap.get(msg.tag);\n\nif(dataFormat.db !== \"t_msg_history\") {\n    msg.topic = \"insert into t_msg_history (CHARGE_NO, TC_CODE) values ('\" + dataMap.get('CHARGE_NO') + \"', '\" + dataMap.get('TC_CODE') + \"')\";\n    return msg;\n} else {\n    msg.topic = '';\n    msg.payload = '';\n}","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[["b8aa06c2.67eea8"]]},{"id":"b8aa06c2.67eea8","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1210,"y":380,"wires":[[]]},{"id":"dbf27fd.c88bb8","type":"config","z":"dd48b724.c803f8","name":"Global Init Data - LF + BASIC","properties":[{"p":"LogFormat","pt":"global","to":"{\"image_Server_IP\":\"192.168.0.104\",\"send_Port\":52003,\"column\":[\"uuid\",\"ip\",\"port\",\"message\",\"dataLength\",\"dataDetail\"]}","tot":"json"},{"p":"SendDataFormat","pt":"global","to":"[{\"tc\":3101,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\"],\"type\":[\"char\",\"char\",\"datetime\"],\"len\":[4,13,14]},{\"tc\":3102,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\"],\"type\":[\"char\",\"char\",\"datetime\"],\"len\":[4,13,14]},{\"tc\":3120,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\"],\"type\":[\"char\",\"char\",\"datetime\"],\"len\":[4,13,14]},{\"tc\":3121,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\"],\"type\":[\"char\",\"char\",\"datetime\"],\"len\":[4,13,14]},{\"tc\":3104,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\",\"Burner_Time\"],\"type\":[\"char\",\"char\",\"datetime\",\"short\"],\"len\":[4,13,14,5]},{\"tc\":3105,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\",\"Laddle_NO\",\"Lad_SML_NO\",\"Lad_INTER_NO\"],\"type\":[\"char\",\"char\",\"datetime\",\"short\",\"short\",\"short\"],\"len\":[4,13,14,10,10,10]},{\"tc\":3106,\"title\":[\"TC_CODE\",\"CHARGE_NO\",\"Time\",\"Req_Temp\"],\"type\":[\"char\",\"char\",\"datetime\",\"short\"],\"len\":[4,13,14,5]}]","tot":"json"},{"p":"FormatData","pt":"global","to":"[{\"TC_CODE\":\"3101\",\"Process\":\"BOP\",\"DataLength\":53},{\"TC_CODE\":\"3102\",\"Process\":\"BOP\",\"DataLength\":53},{\"TC_CODE\":\"3103\",\"Process\":\"BOP\",\"DataLength\":53},{\"TC_CODE\":\"3104\",\"Process\":\"BOP\",\"DataLength\":75},{\"TC_CODE\":\"3105\",\"Process\":\"BOP\",\"DataLength\":88},{\"TC_CODE\":\"3106\",\"Process\":\"BOP\",\"DataLength\":113},{\"TC_CODE\":\"3107\",\"Process\":\"BOP\",\"DataLength\":73},{\"TC_CODE\":\"3108\",\"Process\":\"BOP\",\"DataLength\":73},{\"TC_CODE\":\"3109\",\"Process\":\"BOP\",\"DataLength\":73},{\"TC_CODE\":\"3110\",\"Process\":\"BOP\",\"DataLength\":145},{\"TC_CODE\":\"3111\",\"Process\":\"BOP\",\"DataLength\":145},{\"TC_CODE\":\"3112\",\"Process\":\"BOP\",\"DataLength\":69},{\"TC_CODE\":\"3120\",\"Process\":\"1LF\",\"DataLength\":53},{\"TC_CODE\":\"3121\",\"Process\":\"1LF\",\"DataLength\":53},{\"TC_CODE\":\"3122\",\"Process\":\"1LF\",\"DataLength\":85},{\"TC_CODE\":\"3123\",\"Process\":\"1LF\",\"DataLength\":69},{\"TC_CODE\":\"3124\",\"Process\":\"1LF\",\"DataLength\":75},{\"TC_CODE\":\"3125\",\"Process\":\"1LF\",\"DataLength\":69},{\"TC_CODE\":\"3126\",\"Process\":\"1LF\",\"DataLength\":75},{\"TC_CODE\":\"3127\",\"Process\":\"1LF\",\"DataLength\":69},{\"TC_CODE\":\"3128\",\"Process\":\"1LF\",\"DataLength\":75},{\"TC_CODE\":\"3129\",\"Process\":\"1LF\",\"DataLength\":69},{\"TC_CODE\":\"3140\",\"Process\":\"1RH\",\"DataLength\":53},{\"TC_CODE\":\"3141\",\"Process\":\"1RH\",\"DataLength\":94},{\"TC_CODE\":\"3142\",\"Process\":\"1RH\",\"DataLength\":87},{\"TC_CODE\":\"3143\",\"Process\":\"1RH\",\"DataLength\":69},{\"TC_CODE\":\"3144\",\"Process\":\"1RH\",\"DataLength\":69},{\"TC_CODE\":\"3145\",\"Process\":\"1RH\",\"DataLength\":69},{\"TC_CODE\":\"3146\",\"Process\":\"1RH\",\"DataLength\":69},{\"TC_CODE\":\"3147\",\"Process\":\"1RH\",\"DataLength\":71},{\"TC_CODE\":\"3160\",\"Process\":\"CCM\",\"DataLength\":57},{\"TC_CODE\":\"3161\",\"Process\":\"CCM\",\"DataLength\":55},{\"TC_CODE\":\"3162\",\"Process\":\"CCM\",\"DataLength\":67},{\"TC_CODE\":\"3163\",\"Process\":\"CCM\",\"DataLength\":69}]","tot":"json"},{"p":"MSG_3101","pt":"global","to":"{\"db\":\"t_msg_history\",\"Length\":53,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13],\"dbsechma\":[\"CHARGE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3102","pt":"global","to":"{\"db\":\"t_msg_history\",\"Length\":53,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13],\"dbsechma\":[\"CHARGE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3103","pt":"global","to":"{\"db\":\"t_msg_history\",\"Length\":53,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13],\"dbsechma\":[\"CHARGE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3104","pt":"global","to":"{\"db\":\"t_msg_3104\",\"Length\":75,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"SM_ONL_BN_DSLAD_KWRM_SAT_TMP\",\"SM_ONL_BN_DSLAD_KWRM_TM\",\"SM_ONL_BN_DSLAD_KWRM_DN_TMP\",\"SM_ONL_BN_DSTL_LAD_KWRM_CODT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"int\",\"short\",\"char\"],\"len\":[3,4,14,5,14,13,2,4,2,14],\"dbsechma\":[\"CHARGE_NO\",\"SM_ONL_BN_DSLAD_KWRM_SAT_TMP\",\"SM_ONL_BN_DSLAD_KWRM_TM\",\"SM_ONL_BN_DSLAD_KWRM_DN_TMP\",\"SM_ONL_BN_DSTL_LAD_KWRM_CODT\"]}","tot":"json"},{"p":"MSG_3105","pt":"global","to":"{\"db\":\"t_msg_3105\",\"Length\":75,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"SM_STEEL_GRD\",\"DSTL_LAD_NUM\",\"DSTL_LAD_INTER_RPR_AF_USE_TIM\",\"DSTL_LAD_SML_MCE_AF_USE_TIM\",\"PRE_FCE_LIFE_NUM\",\"OX_LANCE_NUM\",\"FCE_USE_TIM\",\"FCE_TAPHOLE_EXCNG_TIM\",\"LD_FCE_CALC_M_STE_QT\",\"SM_LD_SLG_COAT_JOB_FCE_SH_TIM\",\"LD_FCE_CALC_M_MAT_SUR_HEIT\",\"LD_FCE_M_MSUR_MSE_FCE_LIFECYL\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"short\",\"short\",\"short\",\"short\",\"short\",\"int\",\"short\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,11,2,2,2,2,2,2,2,4,2,2,2],\"dbsechma\":[\"CHARGE_NO\",\"SM_STEEL_GRD\",\"DSTL_LAD_NUM\",\"DSTL_LAD_INTER_RPR_AF_USE_TIM\",\"DSTL_LAD_SML_MCE_AF_USE_TIM\",\"PRE_FCE_LIFE_NUM\",\"OX_LANCE_NUM\",\"FCE_USE_TIM\",\"FCE_TAPHOLE_EXCNG_TIM\",\"LD_FCE_CALC_M_STE_QT\",\"SM_LD_SLG_COAT_JOB_FCE_SH_TIM\",\"LD_FCE_CALC_M_MAT_SUR_HEIT\",\"LD_FCE_M_MSUR_MSE_FCE_LIFECYL\"]}","tot":"json"},{"p":"MSG_3106","pt":"global","to":"{\"db\":\"t_msg_3106\",\"Length\":113,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"TAPP_STA_DATE\",\"TAPP_DN_DATE\",\"TAP_TM\",\"LD_FCE_OX_BW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_AR_USE_QT\",\"LD_FCE_LW_BW_AR_T_USE_QT\",\"LD_FCE_LDG_CLT_QT\",\"LD_FCE_OX_BW_T_OX_USE_QT\",\"LD_FCE_SM_TM\",\"LD_FCE_NST_TM\",\"BE_CH_TAP_TM\",\"LD_FCE_PN_MLBW_PTRN_NUM\",\"LF_ARR_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"int\",\"short\",\"short\",\"short\",\"short\",\"short\",\"short\",\"int\",\"int\",\"int\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,14,14,4,2,2,2,2,2,2,4,4,4,2,2],\"dbsechma\":[\"CHARGE_NO\",\"TAPP_STA_DATE\",\"TAPP_DN_DATE\",\"TAP_TM\",\"LD_FCE_OX_BW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_N2_USE_QT\",\"LD_FCE_NON_BLW_LW_BW_AR_USE_QT\",\"LD_FCE_LW_BW_AR_T_USE_QT\",\"LD_FCE_LDG_CLT_QT\",\"LD_FCE_OX_BW_T_OX_USE_QT\",\"LD_FCE_SM_TM\",\"LD_FCE_NST_TM\",\"BE_CH_TAP_TM\",\"LD_FCE_PN_MLBW_PTRN_NUM\",\"LF_ARR_TM\"]}","tot":"json"},{"p":"MSG_3107","pt":"global","to":"{\"db\":\"t_msg_3107\",\"Length\":73,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,14,2,2,2],\"dbsechma\":[\"CHARGE_NO\",\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"]}","tot":"json"},{"p":"MSG_3108","pt":"global","to":"{\"db\":\"t_msg_3108\",\"Length\":73,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,14,2,2,2],\"dbsechma\":[\"CHARGE_NO\",\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"]}","tot":"json"},{"p":"MSG_3109","pt":"global","to":"{\"db\":\"t_msg_3109\",\"Length\":73,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,14,2,2,2],\"dbsechma\":[\"CHARGE_NO\",\"LD_FCE_SLAN_MSE_DT\",\"LD_FCE_SLAN_MSE_TM\",\"LD_FCE_SLAN_MSE_CARBON\",\"LD_FCE_OX_BW_SL_TM_OX_USE_QT\"]}","tot":"json"},{"p":"MSG_3110","pt":"global","to":"{\"db\":\"t_msg_3110\",\"Length\":145,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"ALY_HOPPER_ED_TM\",\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\",\"ALY_HOPPER_CODE6\",\"ALY_HOPPER_WGT6\",\"ALY_HOPPER_CODE7\",\"ALY_HOPPER_WGT7\",\"ALY_HOPPER_CODE8\",\"ALY_HOPPER_WGT8\",\"ALY_HOPPER_CODE9\",\"ALY_HOPPER_WGT9\",\"ALY_HOPPER_CODE10\",\"ALY_HOPPER_WGT10\",\"ALY_HOPPER_CODE11\",\"ALY_HOPPER_WGT11\",\"ALY_HOPPER_CODE12\",\"ALY_HOPPER_WGT12\",\"ALY_HOPPER_CODE13\",\"ALY_HOPPER_WGT13\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\"],\"len\":[3,4,14,5,14,13,14,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4],\"dbsechma\":[\"CHARGE_NO\",\"ALY_HOPPER_ED_TM\",\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\",\"ALY_HOPPER_CODE6\",\"ALY_HOPPER_WGT6\",\"ALY_HOPPER_CODE7\",\"ALY_HOPPER_WGT7\",\"ALY_HOPPER_CODE8\",\"ALY_HOPPER_WGT8\",\"ALY_HOPPER_CODE9\",\"ALY_HOPPER_WGT9\",\"ALY_HOPPER_CODE10\",\"ALY_HOPPER_WGT10\",\"ALY_HOPPER_CODE11\",\"ALY_HOPPER_WGT11\",\"ALY_HOPPER_CODE12\",\"ALY_HOPPER_WGT12\",\"ALY_HOPPER_CODE13\",\"ALY_HOPPER_WGT13\"]}","tot":"json"},{"p":"MSG_3111","pt":"global","to":"{\"db\":\"t_msg_3111\",\"Length\":145,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"MTL_HOPPER_ED_TM\",\"MTL_HOPPER_CODE1\",\"MTL_HOPPER_WGT1\",\"MTL_HOPPER_CODE2\",\"MTL_HOPPER_WGT2\",\"MTL_HOPPER_CODE3\",\"MTL_HOPPER_WGT3\",\"MTL_HOPPER_CODE4\",\"MTL_HOPPER_WGT4\",\"MTL_HOPPER_CODE5\",\"MTL_HOPPER_WGT5\",\"MTL_HOPPER_CODE6\",\"MTL_HOPPER_WGT6\",\"MTL_HOPPER_CODE7\",\"MTL_HOPPER_WGT7\",\"MTL_HOPPER_CODE8\",\"MTL_HOPPER_WGT8\",\"MTL_HOPPER_CODE9\",\"MTL_HOPPER_WGT9\",\"MTL_HOPPER_CODE10\",\"MTL_HOPPER_WGT10\",\"MTL_HOPPER_CODE11\",\"MTL_HOPPER_WGT11\",\"MTL_HOPPER_CODE12\",\"MTL_HOPPER_WGT12\",\"MTL_HOPPER_CODE13\",\"MTL_HOPPER_WGT13\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\",\"short\",\"int\"],\"len\":[3,4,14,5,14,13,14,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4],\"dbsechma\":[\"CHARGE_NO\",\"MTL_HOPPER_ED_TM\",\"MTL_HOPPER_CODE1\",\"MTL_HOPPER_WGT1\",\"MTL_HOPPER_CODE2\",\"MTL_HOPPER_WGT2\",\"MTL_HOPPER_CODE3\",\"MTL_HOPPER_WGT3\",\"MTL_HOPPER_CODE4\",\"MTL_HOPPER_WGT4\",\"MTL_HOPPER_CODE5\",\"MTL_HOPPER_WGT5\",\"MTL_HOPPER_CODE6\",\"MTL_HOPPER_WGT6\",\"MTL_HOPPER_CODE7\",\"MTL_HOPPER_WGT7\",\"MTL_HOPPER_CODE8\",\"MTL_HOPPER_WGT8\",\"MTL_HOPPER_CODE9\",\"MTL_HOPPER_WGT9\",\"MTL_HOPPER_CODE10\",\"MTL_HOPPER_WGT10\",\"MTL_HOPPER_CODE11\",\"MTL_HOPPER_WGT11\",\"MTL_HOPPER_CODE12\",\"MTL_HOPPER_WGT12\",\"MTL_HOPPER_CODE13\",\"MTL_HOPPER_WGT13\"]}","tot":"json"},{"p":"MSG_3112","pt":"global","to":"{\"db\":\"t_msg_3112\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"TAPP_DN_DT\",\"TAPP_DN_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"TAPP_DN_DT\",\"TAPP_DN_TM\"]}","tot":"json"},{"p":"MSG_3120","pt":"global","to":"{\"db\":\"t_msg_history\",\"Length\":53,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13],\"dbsechma\":[\"CHARGE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3121","pt":"global","to":"{\"db\":\"t_msg_history\",\"Length\":53,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13],\"dbsechma\":[\"CHARGE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3122","pt":"global","to":"{\"db\":\"t_msg_3122\",\"Length\":85,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_ARR_DT\",\"SM_SREF_LF_QUE_TM\",\"LF_BTM_BUB_SAT_DT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"int\",\"char\"],\"len\":[3,4,14,5,14,13,14,4,14],\"dbsechma\":[\"CHARGE_NO\",\"LF_ARR_DT\",\"SM_SREF_LF_QUE_TM\",\"LF_BTM_BUB_SAT_DT\"]}","tot":"json"},{"p":"MSG_3123","pt":"global","to":"{\"db\":\"t_msg_3123\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_BOT_BB_DT\",\"LF_BOT_BB_GAS_USE_QT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"LF_BOT_BB_DT\",\"LF_BOT_BB_GAS_USE_QT\"]}","tot":"json"},{"p":"MSG_3124","pt":"global","to":"{\"db\":\"t_msg_3124\",\"Length\":75,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"int\"],\"len\":[3,4,14,5,14,13,14,2,2,4],\"dbsechma\":[\"CHARGE_NO\",\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"]}","tot":"json"},{"p":"MSG_3125","pt":"global","to":"{\"db\":\"t_msg_3125\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"]}","tot":"json"},{"p":"MSG_3126","pt":"global","to":"{\"db\":\"t_msg_3126\",\"Length\":75,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"int\"],\"len\":[3,4,14,5,14,13,14,2,2,4],\"dbsechma\":[\"CHARGE_NO\",\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"]}","tot":"json"},{"p":"MSG_3127","pt":"global","to":"{\"db\":\"t_msg_3127\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"]}","tot":"json"},{"p":"MSG_3128","pt":"global","to":"{\"db\":\"t_msg_3128\",\"Length\":75,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"int\"],\"len\":[3,4,14,5,14,13,14,2,2,4],\"dbsechma\":[\"CHARGE_NO\",\"LF_AST_SAT_DT\",\"LF_AST_E_FRC_USE_QT\",\"LF_SET_TAP_LOC\",\"LF_AST_TM\"]}","tot":"json"},{"p":"MSG_3129","pt":"global","to":"{\"db\":\"t_msg_3129\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"LF_SMP_PAS_NUM_DT\",\"LF_PAS_NUM_MSE_TM\"]}","tot":"json"}],"active":true,"x":220,"y":2860,"wires":[]},{"id":"6c3f2141.08887","type":"comment","z":"dd48b724.c803f8","name":"[ 관리자 내부 변수 초기화 ]","info":"","x":140,"y":2820,"wires":[]},{"id":"635557fe.4d42b8","type":"inject","z":"dd48b724.c803f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":170,"y":2920,"wires":[["8698f96c.2cb338","a427730c.bad4f"]]},{"id":"8698f96c.2cb338","type":"function","z":"dd48b724.c803f8","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\ncontext.global.todaydate = date.yyyymmdd();\n// context.global.set(\"YYYYMMDD\", \"20180101\");\n\nreturn;","outputs":1,"noerr":0,"x":370,"y":2920,"wires":[[]]},{"id":"a427730c.bad4f","type":"function","z":"dd48b724.c803f8","name":"Init Format Map","func":"if (context.global.FormatObjMap === undefined || context.global.FormatObjMap === null)\n    context.global.FormatObjMap = new Map();\nelse\n    context.global.FormatObjMap.clear();\n\nvar globalContext = global.get(\"FormatData\");\n\nvar size = globalContext.length;\n\nfor (var i=0; i<size; i++) {\n    var format = globalContext[i];\n    if (format.TC_CODE === \"3101\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3101\"));\n    else if (format.TC_CODE === \"3102\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3102\"));\n    else if (format.TC_CODE === \"3103\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3103\"));\n    else if (format.TC_CODE === \"3104\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3104\"));\n    else if (format.TC_CODE === \"3105\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3105\"));\n    else if (format.TC_CODE === \"3106\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3106\"));\n    else if (format.TC_CODE === \"3107\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3107\"));\n    else if (format.TC_CODE === \"3108\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3108\"));\n    else if (format.TC_CODE === \"3109\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3109\"));\n    else if (format.TC_CODE === \"3110\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3110\"));\n    else if (format.TC_CODE === \"3111\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3111\"));\n    else if (format.TC_CODE === \"3112\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3112\"));\n    else if (format.TC_CODE === \"3120\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3120\"));\n    else if (format.TC_CODE === \"3121\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3121\"));\n    else if (format.TC_CODE === \"3122\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3122\"));\n    else if (format.TC_CODE === \"3123\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3123\"));\n    else if (format.TC_CODE === \"3124\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3124\"));\n    else if (format.TC_CODE === \"3125\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3125\"));\n    else if (format.TC_CODE === \"3126\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3126\"));\n    else if (format.TC_CODE === \"3127\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3127\"));\n    else if (format.TC_CODE === \"3128\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3128\"));\n    else if (format.TC_CODE === \"3129\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3129\"));\n    else if (format.TC_CODE === \"3140\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3140\"));\n    else if (format.TC_CODE === \"3141\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3141\"));\n    else if (format.TC_CODE === \"3142\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3142\"));\n    else if (format.TC_CODE === \"3143\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3143\"));\n    else if (format.TC_CODE === \"3144\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3144\"));\n    else if (format.TC_CODE === \"3145\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3145\"));\n    else if (format.TC_CODE === \"3146\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3146\"));\n    else if (format.TC_CODE === \"3147\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3147\"));\n    else if (format.TC_CODE === \"3160\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3160\"));\n    else if (format.TC_CODE === \"3161\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3161\"));\n    else if (format.TC_CODE === \"3162\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3162\"));\n    else if (format.TC_CODE === \"3163\")\n        context.global.FormatObjMap.set(format.TC_CODE, global.get(\"MSG_3163\"));\n}\n\ncontext.global.krcount = 1;\ncontext.global.ladlecount = 11;\n\nreturn;","outputs":1,"noerr":0,"x":380,"y":2960,"wires":[[]]},{"id":"edfaff69.76593","type":"config","z":"dd48b724.c803f8","name":"Global Init Data - RH","properties":[{"p":"MSG_3140","pt":"global","to":"{\"db\":\"t_msg_history\",\"Length\":53,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13],\"dbsechma\":[\"CHARGE_NO\",\"TC_CODE\"]}","tot":"json"},{"p":"MSG_3141","pt":"global","to":"{\"db\":\"t_msg_3141\",\"Length\":94,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"RH_PRC_PAS_NUM\",\"DSTL_LAD_NUM\",\"SM_STEEL_GRD\",\"RH_PRC_SEQ_NUM\",\"RH_TVESS_USE_TIM\",\"RH_LVES_USE_TIM\",\"SM_SREF_RH_QUE_TM\",\"RH_START_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\",\"char\",\"int\",\"short\",\"short\",\"int\",\"char\"],\"len\":[3,4,14,5,14,13,2,2,11,4,2,2,4,14],\"dbsechma\":[\"CHARGE_NO\",\"RH_PRC_PAS_NUM\",\"DSTL_LAD_NUM\",\"SM_STEEL_GRD\",\"RH_PRC_SEQ_NUM\",\"RH_TVESS_USE_TIM\",\"RH_LVES_USE_TIM\",\"SM_SREF_RH_QUE_TM\",\"RH_START_TM\"]}","tot":"json"},{"p":"MSG_3142","pt":"global","to":"{\"db\":\"t_msg_3142\",\"Length\":87,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"RH_DEPT_TM\",\"RH_TOTAL_TREAT_TM\",\"SM_SREF_RHOB_A_RFEX_TM\",\"RH_DEPT_DT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"int\",\"int\",\"char\"],\"len\":[3,4,14,5,14,13,2,4,4,14],\"dbsechma\":[\"CHARGE_NO\",\"RH_DEPT_TM\",\"RH_TOTAL_TREAT_TM\",\"SM_SREF_RHOB_A_RFEX_TM\",\"RH_DEPT_DT\"]}","tot":"json"},{"p":"MSG_3143","pt":"global","to":"{\"db\":\"t_msg_3143\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"]}","tot":"json"},{"p":"MSG_3144","pt":"global","to":"{\"db\":\"t_msg_3144\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"]}","tot":"json"},{"p":"MSG_3145","pt":"global","to":"{\"db\":\"t_msg_3145\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"]}","tot":"json"},{"p":"MSG_3146","pt":"global","to":"{\"db\":\"t_msg_3146\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"RH_MSE_TIM_MSE_DT\",\"RH_MSE_TIM_MSE_TM\"]}","tot":"json"},{"p":"MSG_3147","pt":"global","to":"{\"db\":\"t_msg_3147\",\"Length\":71,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"ALY_HOPPER_ED_TM\",\"ALY_HOPPER_CODE\",\"ALY_HOPPER_WGT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,14,2,2],\"dbsechma\":[\"CHARGE_NO\",\"ALY_HOPPER_ED_TM\",\"ALY_HOPPER_CODE\",\"ALY_HOPPER_WGT\"]}","tot":"json"},{"p":"MSG_3160","pt":"global","to":"{\"db\":\"t_msg_3160\",\"Length\":57,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"CC_TUND_NUM\",\"CAST_NO\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\",\"short\"],\"len\":[3,4,14,5,14,13,2,2],\"dbsechma\":[\"CHARGE_NO\",\"CC_TUND_NUM\",\"CAST_NO\"]}","tot":"json"},{"p":"MSG_3161","pt":"global","to":"{\"db\":\"t_msg_3161\",\"Length\":55,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"TUND_PHT_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,2],\"dbsechma\":[\"CHARGE_NO\",\"TUND_PHT_TM\"]}","tot":"json"},{"p":"MSG_3162","pt":"global","to":"{\"db\":\"t_msg_3162\",\"Length\":67,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"LAD_INJ_SAT_DT\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\"],\"len\":[3,4,14,5,14,13,14],\"dbsechma\":[\"CHARGE_NO\",\"LAD_INJ_SAT_DT\"]}","tot":"json"},{"p":"MSG_3163","pt":"global","to":"{\"db\":\"t_msg_3163\",\"Length\":69,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"CHARGE_NO\",\"TUND_TM_MSE_TM\",\"TUND_M_STE_MSE_TM\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"char\",\"short\"],\"len\":[3,4,14,5,14,13,14,2],\"dbsechma\":[\"CHARGE_NO\",\"TUND_TM_MSE_TM\",\"TUND_M_STE_MSE_TM\"]}","tot":"json"},{"p":"S_MSG_3001","pt":"global","to":"{\"db\":\"t_msg_3001\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"BOP\",\"3001\"]}","tot":"json"},{"p":"S_MSG_3002","pt":"global","to":"{\"db\":\"t_msg_3002\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1LF\",\"3002\"]}","tot":"json"},{"p":"S_MSG_3003","pt":"global","to":"{\"db\":\"t_msg_3003\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"BOP\",\"3003\"]}","tot":"json"},{"p":"S_MSG_3010","pt":"global","to":"{\"db\":\"t_msg_3010\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1RH\",\"3010\"]}","tot":"json"},{"p":"S_MSG_3011","pt":"global","to":"{\"db\":\"t_msg_3011\",\"Length\":44,\"title\":[\"Process\",\"TC_CODE\",\"Time\",\"Length\",\"Spare\",\"DATA\"],\"type\":[\"char\",\"char\",\"char\",\"char\",\"char\",\"float\"],\"len\":[3,4,14,5,14,4],\"dbsechma\":[\"DATA\"],\"values\":[\"1RH\",\"3011\"]}","tot":"json"},{"p":"ML_RESULT_1","pt":"global","to":"{\"db\":\"t_ladle_ml_result_1\",\"title\":[\"uuid\",\"project\",\"result\",\"tc_code\",\"spare\"],\"type\":[\"char\",\"char\",\"float\",\"char\",\"char\"]}","tot":"json"},{"p":"ML_RESULT_2","pt":"global","to":"{\"db\":\"t_ladle_ml_result_2\",\"title\":[\"uuid\",\"project\",\"result\",\"tc_code\",\"spare\"],\"type\":[\"char\",\"char\",\"float\",\"char\",\"char\"]}","tot":"json"},{"p":"LF_ALY","pt":"global","to":"{\"db\":\"t_LF_ALY\",\"dbschema\":[\"CHARGE_NO\",\"ALY_HOPPER_ED_TM\",\"ALY_HOPPER_CODE\",\"ALY_HOPPER_WGT\"],\"op_tm\":\"ALY_HOPPER_ED_TM\",\"wgt\":[\"ALY_HOPPER_CODE1\",\"ALY_HOPPER_WGT1\",\"ALY_HOPPER_CODE2\",\"ALY_HOPPER_WGT2\",\"ALY_HOPPER_CODE3\",\"ALY_HOPPER_WGT3\",\"ALY_HOPPER_CODE4\",\"ALY_HOPPER_WGT4\",\"ALY_HOPPER_CODE5\",\"ALY_HOPPER_WGT5\",\"ALY_HOPPER_CODE6\",\"ALY_HOPPER_WGT6\",\"ALY_HOPPER_CODE7\",\"ALY_HOPPER_WGT7\",\"ALY_HOPPER_CODE8\",\"ALY_HOPPER_WGT8\",\"ALY_HOPPER_CODE9\",\"ALY_HOPPER_WGT9\",\"ALY_HOPPER_CODE10\",\"ALY_HOPPER_WGT10\",\"ALY_HOPPER_CODE11\",\"ALY_HOPPER_WGT11\",\"ALY_HOPPER_CODE12\",\"ALY_HOPPER_WGT12\",\"ALY_HOPPER_CODE13\",\"ALY_HOPPER_WGT13\"]}","tot":"json"},{"p":"LF_MTL","pt":"global","to":"{\"db\":\"t_LF_MTL\",\"dbschema\":[\"CHARGE_NO\",\"MTL_HOPPER_ED_TM\",\"MTL_HOPPER_CODE\",\"MTL_HOPPER_WGT\"],\"op_tm\":\"MTL_HOPPER_ED_TM\",\"wgt\":[\"MTL_HOPPER_CODE1\",\"MTL_HOPPER_WGT1\",\"MTL_HOPPER_CODE2\",\"MTL_HOPPER_WGT2\",\"MTL_HOPPER_CODE3\",\"MTL_HOPPER_WGT3\",\"MTL_HOPPER_CODE4\",\"MTL_HOPPER_WGT4\",\"MTL_HOPPER_CODE5\",\"MTL_HOPPER_WGT5\",\"MTL_HOPPER_CODE6\",\"MTL_HOPPER_WGT6\",\"MTL_HOPPER_CODE7\",\"MTL_HOPPER_WGT7\",\"MTL_HOPPER_CODE8\",\"MTL_HOPPER_WGT8\",\"MTL_HOPPER_CODE9\",\"MTL_HOPPER_WGT9\",\"MTL_HOPPER_CODE10\",\"MTL_HOPPER_WGT10\",\"MTL_HOPPER_CODE11\",\"MTL_HOPPER_WGT11\",\"MTL_HOPPER_CODE12\",\"MTL_HOPPER_WGT12\",\"MTL_HOPPER_CODE13\",\"MTL_HOPPER_WGT13\"]}","tot":"json"}],"active":true,"x":490,"y":2860,"wires":[]},{"id":"a6909741.a88198","type":"status","z":"dd48b724.c803f8","name":"","scope":["eac0677b.bad4b8"],"x":160,"y":2960,"wires":[["8698f96c.2cb338","a427730c.bad4f"]]},{"id":"ceb7b568.d8fca8","type":"function","z":"dd48b724.c803f8","name":"Make Data to Media Server","func":"function checkLengthString(str, len, type) {\n    if (type === \"char\") {\n        var check = str.length;\n        if (check === undefined) {\n            str = String(str);\n            check = str.length;\n        }\n        if (check < len) {\n            for (var i = 0 ; i < (len - check) ; i++) {\n                str += \" \";\n            }\n        } else if(check > len) {\n            str = str.slice(0, len)\n        }\n        return str;\n    } else {\n        str = String(str);\n        var check = str.length;\n        var temp = \"\";\n        if (check < len) {\n            for (var i = 0 ; i < (len - check) ; i++) {\n                temp += \"0\";\n            }\n            str = temp + str;\n        } else if(check > len) {\n            str = str.slice(0, len)\n        }\n        return str;\n    }\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate()) + checkZeroTime(nowTime.getHours()) + checkZeroTime(nowTime.getMinutes()) + checkZeroTime(nowTime.getSeconds());\n}\n\nfunction checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction checkZeroTimeMillisec(value) {\n    if (value < 10) {\n        return '00' + value;\n    } else if (value < 100) {\n        return '0' + value;\n    } else {\n        return value;\n    }\n}\n\nfunction createDataRefine(value) {\n    var returnStr = \"\"\n    var sendDatas = global.get(\"SendDataFormat\");\n    var formatData = sendDatas.filter(function(obj){ return obj.tc === Number(msg.tag) })[0];\n    if (formatData !== undefined) {\n        var result;\n        for (var i=0; i< formatData.title.length; i++) {\n            if (formatData.title[i] === 'TC_CODE') {\n                returnStr += msg.tag;\n                continue;\n            } else if (formatData.title[i] === 'CHARGE_NO') {\n                result = msg.fields.CHARGE_NO;\n            } else if (formatData.title[i] === 'Time') {\n                returnStr += nowDateFormat();\n                continue;\n            } else if (formatData.title[i] === 'Laddle_NO') {\n                result = msg.fields.SM_ONL_BN_DSLAD_KWRM_SAT_TMP;\n                if (result === undefined) {\n                    result = msg.fields.DSTL_LAD_NUM;\n                }\n            } else if (formatData.title[i] === 'Lad_SML_NO') {\n                result = msg.fields.DSTL_LAD_SML_MCE_AF_USE_TIM;\n            } else if (formatData.title[i] === 'Lad_INTER_NO') {\n                result = msg.fields.DSTL_LAD_INTER_RPR_AF_USE_TIM;\n            } else if (formatData.title[i] === 'Req_Temp') {\n                result = msg.fields.LF_ARR_TM;\n            } else if (formatData.title[i] === 'Burner_Time') {\n                result = msg.fields.SM_ONL_BN_DSLAD_KWRM_SAT_TMP;\n            } else {\n                continue;\n            }\n            returnStr += checkLengthString(result, formatData.len[i], formatData.type[i]);\n        }\n        if (value === true) {\n            returnStr += \"\\n\";\n        }\n        return returnStr;\n    }\n    // return '';\n    return '';\n}\nvar sendData = createDataRefine(false);\nconsole.log(sendData);\nif (sendData === '') {\n    msg.payload = '';\n} else {\n    msg.payload = sendData;\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":540,"wires":[["afa08887.d5d528","40f787ac.7d01f8","5a95f561.e15e7c"]]},{"id":"b8f2a555.7ae888","type":"function","z":"dd48b724.c803f8","name":"construct-MAC","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate());\n}\n\nvar p = msg.payload;\nvar metric = {};\n\nvar path = global.get(\"basePath\");\n\nif (context.global.todaydate === undefined) {\n    context.global.todaydate = nowDateFormat();\n}\n\nvar date = context.global.todaydate;\nvar img = [];\nvar camera = p.id;\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nvar data = {\n    path: path + date + \"/\" + camera + \"/\",\n    image: p.image,\n    directory: date,\n    metric: metric\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":560,"y":100,"wires":[["41f1142c.73da1c"],["8e6708c6.c50088"]]},{"id":"27f89e45.fa4512","type":"debug","z":"dd48b724.c803f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":2460,"wires":[]},{"id":"93e1b80b.b18c08","type":"debug","z":"dd48b724.c803f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":2660,"wires":[]},{"id":"8f5f8d89.af568","type":"function","z":"dd48b724.c803f8","name":"Make Data to Database","func":"var dataFormat;\n\nfunction initDataFormat(value) {\n    switch(value) {\n        case \"3001\":\n            dataFormat = global.get(\"S_MSG_3001\");\n            return true;\n        case \"3002\":\n            dataFormat = global.get(\"S_MSG_3002\");\n            return true;\n        case \"3003\":\n            dataFormat = global.get(\"S_MSG_3003\");\n            return true;\n        case \"3010\":\n            dataFormat = global.get(\"S_MSG_3010\");\n            return true;\n        case \"3011\":\n            dataFormat = global.get(\"S_MSG_3011\");\n            return true;            \n        default:\n            return false;\n    }\n}\n//insert into t_msg_history (CHARGE_NO, TC_CODE) values (\nif(initDataFormat(msg.payload.tc_code)) {\n    var tableName = dataFormat.db;\n    var dbsechma = dataFormat.dbsechma;\n    msg.topic = \"insert into \" + tableName + \" (\" + dbsechma + \") values (\" + msg.payload.result + \");\"\n    console.log(msg.topic);\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":2760,"wires":[["b1c7018e.ee308"]]},{"id":"b1c7018e.ee308","type":"mysql","z":"dd48b724.c803f8","mydb":"ad4d3d1b.0d3a5","name":"","x":930,"y":2760,"wires":[[]]},{"id":"fba79bb6.28c138","type":"debug","z":"50560b04.fa77e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":840,"wires":[]},{"id":"c9c36644.cc1b88","type":"function","z":"50560b04.fa77e4","name":"T/C Code 3002","func":"msg.sendType = \"3002\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":740,"wires":[["d22049fb.5633b8"]]},{"id":"253a452d.7b865a","type":"function","z":"50560b04.fa77e4","name":"T/C Code 3003","func":"msg.sendType = \"3003\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":800,"wires":[["d22049fb.5633b8"]]},{"id":"fda0b543.8ab4c8","type":"function","z":"50560b04.fa77e4","name":"T/C Code 3010","func":"msg.sendType = \"3010\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":860,"wires":[["d22049fb.5633b8"]]},{"id":"57f56507.ccc5bc","type":"function","z":"50560b04.fa77e4","name":"T/C Code 3001","func":"msg.sendType = \"3001\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":680,"wires":[["d22049fb.5633b8"]]},{"id":"7a05e241.746a1c","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["c9c36644.cc1b88"]]},{"id":"4a97e3b4.c81b3c","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["253a452d.7b865a"]]},{"id":"a044c89f.d5ea98","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["fda0b543.8ab4c8"]]},{"id":"e965f549.461868","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["57f56507.ccc5bc"]]},{"id":"20120db9.2c62d2","type":"function","z":"50560b04.fa77e4","name":"T/C Code 3011","func":"msg.sendType = \"3011\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":920,"wires":[["d22049fb.5633b8"]]},{"id":"5408b7da.10ba08","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["20120db9.2c62d2"]]},{"id":"5a95f561.e15e7c","type":"debug","z":"dd48b724.c803f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":640,"wires":[]},{"id":"93358676.5225b8","type":"inject","z":"dd48b724.c803f8","name":"","topic":"Data Export File","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":160,"y":1960,"wires":[["bae2aa9a.204ec8","48165e87.f43","b4e7d759.227058","cf5db5e3.0b3238","1a09ec04.cefee4"]]},{"id":"4a397f18.14d08","type":"function","z":"dd48b724.c803f8","name":"[LF - KR] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.date = date;\nmsg.filename = path + date + \"_LF_KR.csv\"\n\nvar dbSchema = global.get(\"FileShcema_LF_KR\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\nmsg.payload = \"\\ufeff\"\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1220,"wires":[["f87aea67.986b48","39c82f.3a2ea7d2"]]},{"id":"3c5fe0e3.5247e","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":790,"y":1660,"wires":[["a32090c6.6ea41"]]},{"id":"e4929bc5.100958","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"CHARGE_NO,SM_ONL_BN_DSLAD_KWRM_SAT_TMP,SM_ONL_BN_DSLAD_KWRM_TM,SM_ONL_BN_DSLAD_KWRM_DN_TMP,SM_ONL_BN_DSTL_LAD_KWRM_CODT,SM_STEEL_GRD,DSTL_LAD_NUM,DSTL_LAD_INTER_RPR_AF_USE_TIM,DSTL_LAD_SML_MCE_AF_USE_TIM,PRE_FCE_LIFE_NUM,OX_LANCE_NUM,FCE_USE_TIM,FCE_TAPHOLE_EXCNG_TIM,LD_FCE_CALC_M_STE_QT,SM_LD_SLG_COAT_JOB_FCE_SH_TIM,LD_FCE_CALC_M_MAT_SUR_HEIT,LD_FCE_M_MSUR_MSE_FCE_LIFECYL,TAPP_STA_DATE,TAPP_DN_DATE,TAP_TM,LD_FCE_OX_BW_LW_BW_N2_USE_QT,LD_FCE_NON_BLW_LW_BW_N2_USE_QT,LD_FCE_NON_BLW_LW_BW_AR_USE_QT,LD_FCE_LW_BW_AR_T_USE_QT,LD_FCE_LDG_CLT_QT,LD_FCE_OX_BW_T_OX_USE_QT,LD_FCE_SM_TM,LD_FCE_NST_TM,BE_CH_TAP_TM,LD_FCE_PN_MLBW_PTRN_NUM,LF_ARR_TM,LD_FCE_SLAN_MSE_DT_1,LD_FCE_SLAN_MSE_TM_1,LD_FCE_SLAN_MSE_CARBON_1,LD_FCE_OX_BW_SL_TM_OX_USE_QT_1,LD_FCE_SLAN_MSE_DT_2,LD_FCE_SLAN_MSE_TM_2,LD_FCE_SLAN_MSE_CARBON_2,LD_FCE_OX_BW_SL_TM_OX_USE_QT_2,LD_FCE_SLAN_MSE_DT_3,LD_FCE_SLAN_MSE_TM_3,LD_FCE_SLAN_MSE_CARBON_3,LD_FCE_OX_BW_SL_TM_OX_USE_QT_3,TAPP_DN_DT,TAPP_DN_TM,LF_ARR_DT,SM_SREF_LF_QUE_TM,LF_BTM_BUB_SAT_DT_1,LF_BOT_BB_DT_1,LF_BOT_BB_GAS_USE_QT_1,LF_AST_SAT_DT_1,LF_AST_E_FRC_USE_QT_1,LF_SET_TAP_LOC_1,LF_AST_TM_1,LF_SMP_PAS_NUM_DT_1,LF_PAS_NUM_MSE_TM_1,LF_AST_SAT_DT_2,LF_AST_E_FRC_USE_QT_2,LF_SET_TAP_LOC_2,LF_AST_TM_2,LF_SMP_PAS_NUM_DT_2,LF_PAS_NUM_MSE_TM_2,LF_AST_SAT_DT_3,LF_AST_E_FRC_USE_QT_3,LF_SET_TAP_LOC_3,LF_AST_TM_3,LF_SMP_PAS_NUM_DT_3,LF_PAS_NUM_MSE_TM_3,ALY_HOPPER_CODE1,ALY_HOPPER_WGT1,ALY_HOPPER_CODE2,ALY_HOPPER_WGT2,ALY_HOPPER_CODE3,ALY_HOPPER_WGT3,ALY_HOPPER_CODE4,ALY_HOPPER_WGT4,ALY_HOPPER_CODE5,ALY_HOPPER_WGT5,ALY_HOPPER_CODE6,ALY_HOPPER_WGT6,ALY_HOPPER_CODE7,ALY_HOPPER_WGT7,ALY_HOPPER_CODE8,ALY_HOPPER_WGT8,ALY_HOPPER_CODE9,ALY_HOPPER_WGT9,ALY_HOPPER_CODE10,ALY_HOPPER_WGT10,ALY_HOPPER_CODE11,ALY_HOPPER_WGT11,ALY_HOPPER_CODE12,ALY_HOPPER_WGT12,ALY_HOPPER_CODE13,ALY_HOPPER_WGT13,MTL_HOPPER_CODE1,MTL_HOPPER_WGT1,MTL_HOPPER_CODE2,MTL_HOPPER_WGT2,MTL_HOPPER_CODE3,MTL_HOPPER_WGT3,MTL_HOPPER_CODE4,MTL_HOPPER_WGT4,MTL_HOPPER_CODE5,MTL_HOPPER_WGT5,MTL_HOPPER_CODE6,MTL_HOPPER_WGT6,MTL_HOPPER_CODE7,MTL_HOPPER_WGT7,MTL_HOPPER_CODE8,MTL_HOPPER_WGT8,MTL_HOPPER_CODE9,MTL_HOPPER_WGT9,MTL_HOPPER_CODE10,MTL_HOPPER_WGT10,MTL_HOPPER_CODE11,MTL_HOPPER_WGT11,MTL_HOPPER_CODE12,MTL_HOPPER_WGT12,MTL_HOPPER_CODE13,MTL_HOPPER_WGT13","skip":"0","x":2070,"y":1660,"wires":[["d5f056b2.41f558"]]},{"id":"d5f056b2.41f558","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":2210,"y":1660,"wires":[]},{"id":"c50bfa31.fc66d8","type":"function","z":"dd48b724.c803f8","name":"[RH - KR] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.date = date;\nmsg.filename = path + date + \"_RH_KR.csv\"\n\nvar dbSchema = global.get(\"FileShcema_RH_KR\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        //sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\nmsg.payload = \"\\ufeff\"\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nconsole.log(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1280,"wires":[["f87aea67.986b48","581260c2.baa03"]]},{"id":"e7cd2de9.a35a9","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":790,"y":1720,"wires":[["5e3ed238.03a81c"]]},{"id":"1ef5fc8d.161ca3","type":"function","z":"dd48b724.c803f8","name":"[LF - KR] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + date + \"_LF_KR.csv\"\n\nmsg.date = date;\n\nvar dbSchema = global.get(\"FileShcema_LF_KR\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\n// console.log(sql_where);\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nconsole.log(msg.topic);\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":840,"wires":[["f87aea67.986b48","39c82f.3a2ea7d2"]]},{"id":"4bc3491f.221678","type":"inject","z":"dd48b724.c803f8","name":"날짜에 데이터 만들기","topic":"","payload":"2018-10-21","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["5810aa11.e5a934","1ef5fc8d.161ca3","54973a41.69ffa4","39b301b7.a8dc7e"]]},{"id":"5810aa11.e5a934","type":"function","z":"dd48b724.c803f8","name":"[RH - KR] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.date = date;\nmsg.filename = path + date + \"_RH_KR.csv\"\n\nvar dbSchema = global.get(\"FileShcema_RH_KR\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" and DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\nmsg.payload = \"\\ufeff\"\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nconsole.log(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":900,"wires":[["581260c2.baa03","f87aea67.986b48"]]},{"id":"c3e34d9.dfa79b","type":"function","z":"dd48b724.c803f8","name":"[LF - EN] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.date = date;\nmsg.filename = path + \"EN_\" + date + \"_LF.csv\"\n\nvar dbSchema = global.get(\"FileShcema_LF_EN\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n// console.log(str_title);\n// console.log(sql_where);\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n// console.log(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1660,"wires":[["3c5fe0e3.5247e"]]},{"id":"777f3f8f.23e88","type":"function","z":"dd48b724.c803f8","name":"[RH - EN] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.date = date;\nmsg.filename = path + \"EN_\" + date + \"_RH.csv\"\n\nvar dbSchema = global.get(\"FileShcema_RH_EN\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1720,"wires":[["e7cd2de9.a35a9"]]},{"id":"bae2aa9a.204ec8","type":"function","z":"dd48b724.c803f8","name":"[LF - EN] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.date = date;\nmsg.filename = path + \"EN_\" + date + \"_LF.csv\"\n\nvar dbSchema = global.get(\"FileShcema_LF_EN\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1960,"wires":[["3c5fe0e3.5247e"]]},{"id":"48165e87.f43","type":"function","z":"dd48b724.c803f8","name":"[RH - EN] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.date = date;\nmsg.filename = path + \"EN_\" + date + \"_RH.csv\"\n\nvar dbSchema = global.get(\"FileShcema_RH_EN\");\n\nvar columns;\nvar titles;\nvar sql_front = \"select distinct \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by msg.CHARGE_NO \"\nvar sql_order = \" order by msg.time asc\";\n\nvar table;\nfor (var count_main = 0;count_main<dbSchema.length;count_main++) {\n    table = dbSchema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === dbSchema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"'\";\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \" as '\" + titles[count_column] + \"',\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\nconsole.log(str_title);\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2020,"wires":[["e7cd2de9.a35a9"]]},{"id":"24a2e4ec.12e4ac","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"강번,RH처리차수,수강Ladle번호,출강목표번호,제강정련RH처리일련번호,제강정련RH상부조사용횟수,제강정련RH하부조사용횟수,제강2차정련RH대기시간,처리개시 시각,제강2차정련RH출발온도,제강RH총처리시간,제강2차정련RHOB후환류시간,제강정련RH_Ladle출발일,제강RH측정횟수별측정일시1,제강RH측정횟수별측정온도1,제강RH측정횟수별측정일시2,제강RH측정횟수별측정온도2,제강RH측정횟수별측정일시3,제강RH측정횟수별측정온도3,제강RH측정횟수별측정일시4,제강RH측정횟수별측정온도4,연주Tundish번호,제강연주Cast번호,연주Tundish예열시간,연주Ladle주입개시일시,연주Tundish용강온도측정시각1,연주Tundish용강측정온도1, 합금철 투입 종류1, 합금철 투입량1, 합금철 투입 종류2, 합금철 투입량2, 합금철 투입 종류3, 합금철 투입량3, 합금철 투입 종류4, 합금철 투입량4, 합금철 투입 종류5, 합금철 투입량5","skip":"0","x":1610,"y":900,"wires":[["515697fb.6d65a8"]]},{"id":"581260c2.baa03","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":910,"y":900,"wires":[["3dc425bf.791a1a"]]},{"id":"a2170b87.c37df8","type":"inject","z":"dd48b724.c803f8","name":"날짜에 데이터 만들기","topic":"","payload":"2018-10-20","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1660,"wires":[["98f4d87e.b61528","715b1285.3d42ec","508dc746.6f5a08","777f3f8f.23e88","c3e34d9.dfa79b"]]},{"id":"37f7d9d4.34c5d6","type":"inject","z":"dd48b724.c803f8","name":"","topic":"Data Export File","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":160,"y":1220,"wires":[["4a397f18.14d08","c50bfa31.fc66d8","b55a6bf8.ec54b8","e9f7f25b.94559","d4c8529.bdc20b","83256544.ac8f38"]]},{"id":"9f2fde14.1c51e","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1190,"y":960,"wires":[]},{"id":"f87aea67.986b48","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":910,"y":1200,"wires":[]},{"id":"18e15196.65f74e","type":"function","z":"50560b04.fa77e4","name":"3101","func":"msg.payload = \"3101lad00000009  20181016125515\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["d1ce23ab.f7272"]]},{"id":"400672a4.6d19ac","type":"function","z":"50560b04.fa77e4","name":"3120","func":"msg.payload = \"3120lad123456789 20181016125519\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1060,"wires":[["d1ce23ab.f7272"]]},{"id":"d1ce23ab.f7272","type":"tcp out","z":"50560b04.fa77e4","host":"192.168.0.7","port":"52010","beserver":"client","base64":false,"end":true,"name":"","x":580,"y":1080,"wires":[]},{"id":"7b060fef.c7032","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["18e15196.65f74e"]]},{"id":"dee583aa.7b9eb","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1060,"wires":[["400672a4.6d19ac"]]},{"id":"e7f28502.7a53d8","type":"function","z":"50560b04.fa77e4","name":"3102","func":"msg.payload = \"3102lad00000009  20181016125622\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1120,"wires":[["d1ce23ab.f7272"]]},{"id":"3109e48e.1fcd9c","type":"function","z":"50560b04.fa77e4","name":"3121","func":"msg.payload = \"3121lad00000009  20181016125626\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1180,"wires":[["d1ce23ab.f7272"]]},{"id":"eac878b3.94f8e8","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["e7f28502.7a53d8"]]},{"id":"ad8017e2.c999d8","type":"inject","z":"50560b04.fa77e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1180,"wires":[["3109e48e.1fcd9c"]]},{"id":"54973a41.69ffa4","type":"function","z":"dd48b724.c803f8","name":"[Temperator - KR] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + date + \"_TEMP_KR.csv\"\n//20181023\nvar sql_front = \"select distinct t1.time, t2.charge_no, t1.sno, t1.temp from t_ladle_capture_1 as t1 left outer join t_msg_history as t2 on t1.time = t2.time where DATE(t1.time) = '\";\nvar sql_last = \"' order by t1.time asc\"\n\nmsg.payload = \"\\ufeff\"\nmsg.topic = sql_front + date + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":960,"wires":[["f87aea67.986b48","35ea81cb.4066be"]]},{"id":"a8f79308.cfd8c","type":"debug","z":"dd48b724.c803f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":340,"wires":[]},{"id":"9a55d2ad.bf25e","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"time, charge_no, sno, temp","skip":"0","x":1050,"y":960,"wires":[["9f2fde14.1c51e"]]},{"id":"d7ea04e5.41aef8","type":"function","z":"dd48b724.c803f8","name":"ALY-Query-Make","func":"flow.set('dbResultLFKR',msg.payload);\nvar date = msg.date;\n\nvar schema = global.get(\"Schema_Append_ALY_LF_KR\");\nvar columns;\nvar titles;\nvar sql_front = \"select \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by\" + global.get(\"groupby_ALY\")\nvar sql_order = \" order by \" + global.get(\"orderby\");\nvar table;\nfor (var count_main = 0;count_main<schema.length;count_main++) {\n    table = schema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === schema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column];\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \",\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":840,"wires":[["28c9c506.55711a"]]},{"id":"28c9c506.55711a","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1270,"y":840,"wires":[["cafd2331.e3926"]]},{"id":"cafd2331.e3926","type":"function","z":"dd48b724.c803f8","name":"ALY-Object-Add","func":"var data = msg.payload;\nvar dataMap = new Map();\nvar object;\n\nvar value;\nvar dataMapKey;\nvar type;\nvar valueMap;\n\nfor (var count=0;count < data.length;count++) {\n    object = data[count];\n    var arrayValue = Object.values(object);\n    valueMap = dataMap.get(object.CHARGE_NO);\n    if (valueMap === undefined)\n        valueMap = new Map();\n    \n    // console.log(valueMap);\n    for (var aCount=0;aCount<arrayValue.length;aCount++) {\n        value = arrayValue[aCount];\n        if (aCount === 0) {\n            dataMapKey = value;\n            continue;\n        }\n        if (aCount % 2 === 1) {\n            if (value === 0 || value === null || value == undefined)\n                continue;\n            type = value;\n        } else if (aCount % 2 === 0) {\n            if (type === 0 || type === undefined || value === null || value == undefined)\n                continue;\n            var temp = valueMap.get(type);\n            if (temp === undefined) {\n                valueMap.set(type, value);\n            } else {\n                valueMap.set(type, value + temp);\n            }\n        }\n    }\n    dataMap.set(dataMapKey, valueMap);\n}\n\nvar dbResult = flow.get('dbResultLFKR');\nvar schema = global.get(\"Schema_Append_ALY_LF_KR\");\nvar arrayTitle = schema[1].title;\nfor (var count=0;count<dbResult.length;count++) {\n    var rowValue = dbResult[count];\n    var dataMapKey = rowValue['강번'];\n    \n    var dataMapObj = dataMap.get(dataMapKey);\n\n    if (dataMapObj !== undefined) {\n        var arrayKey = Array.from(dataMapObj.keys());\n        var arrayVal = Array.from(dataMapObj.values());\n        var arrayCount = 0;\n        for (var sub=0;sub<arrayTitle.length;sub++) {\n            if (arrayCount < arrayKey.length) {\n                if (sub%2 === 0) {\n                    if (arrayKey[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayKey[arrayCount];\n                } else if (sub%2 === 1) {\n                    if (arrayVal[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else {\n                        rowValue[arrayTitle[sub]] = arrayVal[arrayCount++];\n                    }\n                }\n            } else {\n                rowValue[arrayTitle[sub]] = 0;\n            }\n        }\n    }\n}\n// console.log(dbResult);\nmsg.payload = dbResult;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":840,"wires":[["894943bb.980b4"]]},{"id":"fc89998e.09fd28","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"강번,제강Online보온Burner개시온도,제강Online보온Burner수강총시간,제강Online보온Burner완료온도,제강Online보온Burner완료일시,출강목표번호,수강Ladle번호,제강수강Ladle중수리후사용횟수,제강수강Ladle소수리후사용횟수,제강이전로대번호,제강산소Lance번호,제강로사용횟수,제강전로로대별출강구,제강전로계산용강량,제강전로SlagCoating작업,제강전로계산탕면높이,제강전로탕면측정시노체수명,출강개시일시,출강완료일시,제강출강시간,제강전로취련중하취N2,제강전로비취련하취N2,제강전로비취련중하취,제강전로하취NozzleAr총,제강전로취련LDG회수량,제강전로취련총산소사용량,제강전로제강시간,제강전로비제강시간,제강전Charge출강시간,제강전로취련종료대기중하취Pattern번호구분,LF도착요구온도,제강전로탈린SubLance측정일시1,제강전로탈린SubLance측정온도1,제강전로SubLance탄소측정1,제강전로취련중SubLance산소투입량1,제강전로탈린SubLance측정일시2,제강전로탈린SubLance측정온도2,제강전로SubLance탄소측정2,제강전로취련중SubLance산소투입량2,제강전로탈린SubLance측정일시3,제강전로탈린SubLance측정온도3,제강전로SubLance탄소측정3,제강전로취련중SubLance산소투입량3,측정일시,측정온도,LF도착일시,제강2차정련LF대기시간,제강LF_BottomBubbling개시일시1,제강LF_BottomBubbling시간1,제강LF_BottomBubblingGas사용량1,LF승온개시일시1,LF승온전력사용량1,LF설정TAP위치1,제강LF승온시간1,LF_Sampling차수별일시1,LF차수별측정온도1,LF승온개시일시2,LF승온전력사용량2,LF설정TAP위치2,제강LF승온시간2,LF_Sampling차수별일시2,LF차수별측정온도2,LF승온개시일시3,LF승온전력사용량3,LF설정TAP위치3,제강LF승온시간3,LF_Sampling차수별일시3,LF차수별측정온도3,합금철 투입 종류1, 합금철 투입량1, 합금철 투입 종류2, 합금철 투입량2, 합금철 투입 종류3, 합금철 투입량3, 합금철 투입 종류4, 합금철 투입량4, 합금철 투입 종류5, 합금철 투입량5, 합금철 투입 종류6, 합금철 투입량6, 합금철 투입 종류7, 합금철 투입량7, 합금철 투입 종류8, 합금철 투입량8, 합금철 투입 종류9, 합금철 투입량9, 합금철 투입 종류10, 합금철 투입량10, 합금철 투입 종류11, 합금철 투입량11, 합금철 투입 종류12, 합금철 투입량12, 합금철 투입 종류13, 합금철 투입량13, 부원료 투입 종류1,부원료 투입량1,부원료 투입 종류2,부원료 투입량2,부원료 투입 종류3,부원료 투입량3,부원료 투입 종류4,부원료 투입량4, 부원료 투입 종류5,부원료 투입량5,부원료 투입 종류6,부원료 투입량6,부원료 투입 종류7,부원료 투입량7,부원료 투입 종류8,부원료 투입량8,부원료 투입 종류9,부원료 투입량9,부원료 투입 종류10,부원료 투입량10,부원료 투입 종류11,부원료 투입량11,부원료 투입 종류12,부원료 투입량12,부원료 투입 종류13,부원료 투입량13","skip":"0","x":2190,"y":840,"wires":[["f598efad.85b82"]]},{"id":"f598efad.85b82","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":2330,"y":840,"wires":[]},{"id":"894943bb.980b4","type":"function","z":"dd48b724.c803f8","name":"MTL-Query-Make","func":"flow.set('dbResult',msg.payload);\nvar date = msg.date;\n\nvar schema = global.get(\"Schema_Append_MTL_LF_KR\");\nvar columns;\nvar titles;\nvar sql_front = \"select \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by\" + global.get(\"groupby_MTL\")\nvar sql_order = \" order by \" + global.get(\"orderby\");\nvar table;\nfor (var count_main = 0;count_main<schema.length;count_main++) {\n    table = schema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === schema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column];\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \",\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":840,"wires":[["38410c15.dad124"]]},{"id":"38410c15.dad124","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1830,"y":840,"wires":[["7e31714b.00fd7"]]},{"id":"7e31714b.00fd7","type":"function","z":"dd48b724.c803f8","name":"MTL-Object-Add","func":"var data = msg.payload;\nvar dataMap = new Map();\nvar object;\n\nvar value;\nvar dataMapKey;\nvar type;\nvar valueMap;\n\nfor (var count=0;count < data.length;count++) {\n    object = data[count];\n    var arrayValue = Object.values(object);\n    valueMap = dataMap.get(object.CHARGE_NO);\n    if (valueMap === undefined)\n        valueMap = new Map();\n    \n    console.log(valueMap);\n    for (var aCount=0;aCount<arrayValue.length;aCount++) {\n        value = arrayValue[aCount];\n        if (aCount === 0) {\n            if (value === undefined)\n                continue;\n            else {\n                dataMapKey = value;\n                continue;\n            }\n        }\n        if (aCount % 2 === 1) {\n            if (value === 0 || value === null || value == undefined)\n                continue;\n            type = value;\n        } else if (aCount % 2 === 0) {\n            if (type === 0 || type === undefined || value === null || value == undefined)\n                continue;\n            var temp = valueMap.get(type);\n            if (temp === undefined) {\n                valueMap.set(type, value);\n            } else {\n                valueMap.set(type, value + temp);\n            }\n        }\n    }\n    dataMap.set(dataMapKey, valueMap);\n}\n\nvar dbResult = flow.get('dbResult');\nvar schema = global.get(\"Schema_Append_MTL_LF_KR\");\nvar arrayTitle = schema[1].title;\nfor (var count=0;count<dbResult.length;count++) {\n    var rowValue = dbResult[count];\n    var dataMapKey = rowValue['강번'];\n    \n    var dataMapObj = dataMap.get(dataMapKey);\n\n    if (dataMapObj !== undefined) {\n        var arrayKey = Array.from(dataMapObj.keys());\n        var arrayVal = Array.from(dataMapObj.values());\n        var arrayCount = 0;\n        for (var sub=0;sub<arrayTitle.length;sub++) {\n            if (sub < arrayKey.length) {\n                if (sub%2 === 0) {\n                    if (arrayKey[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayKey[arrayCount];\n                } else if (sub%2 === 1) {\n                    if (arrayVal[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayVal[arrayCount++];\n                }\n            } else {\n                rowValue[arrayTitle[sub]] = 0;\n            }\n        }\n    }\n}\n// console.log(dbResult);\nmsg.payload = dbResult;\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":840,"wires":[["fc89998e.09fd28"]]},{"id":"3dc425bf.791a1a","type":"function","z":"dd48b724.c803f8","name":"ALY-Query-Make","func":"flow.set('dbResultRHKR',msg.payload);\nvar date = msg.date;\n\nvar schema = global.get(\"Schema_Append_RH_KR\");\nvar columns;\nvar titles;\nvar sql_front = \"select \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by\" + global.get(\"groupby_ALY\")\nvar sql_order = \" order by \" + global.get(\"orderby\");\nvar table;\nfor (var count_main = 0;count_main<schema.length;count_main++) {\n    table = schema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === schema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column];\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \",\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":900,"wires":[["e97a5774.9ab178"]]},{"id":"e97a5774.9ab178","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1270,"y":900,"wires":[["a090b817.3f46b8"]]},{"id":"a090b817.3f46b8","type":"function","z":"dd48b724.c803f8","name":"ALY-Object-Add","func":"var data = msg.payload;\nvar dataMap = new Map();\nvar object;\n\nvar value;\nvar dataMapKey;\nvar type;\nvar valueMap;\n\nfor (var count=0;count < data.length;count++) {\n    object = data[count];\n    var arrayValue = Object.values(object);\n    valueMap = dataMap.get(object.CHARGE_NO);\n    if (valueMap === undefined)\n        valueMap = new Map();\n    \n    // console.log(valueMap);\n    for (var aCount=0;aCount<arrayValue.length;aCount++) {\n        value = arrayValue[aCount];\n        if (aCount === 0) {\n            dataMapKey = value;\n            continue;\n        }\n        if (aCount % 2 === 1) {\n            if (value === 0 || value === null || value == undefined)\n                continue;\n            type = value;\n        } else if (aCount % 2 === 0) {\n            if (type === 0 || type === undefined || value === null || value == undefined)\n                continue;\n            var temp = valueMap.get(type);\n            if (temp === undefined) {\n                valueMap.set(type, value);\n            } else {\n                valueMap.set(type, value + temp);\n            }\n        }\n    }\n    dataMap.set(dataMapKey, valueMap);\n}\n\nvar dbResult = flow.get('dbResultRHKR');\nvar schema = global.get(\"Schema_Append_RH_KR\");\nvar arrayTitle = schema[1].title;\nfor (var count=0;count<dbResult.length;count++) {\n    var rowValue = dbResult[count];\n    var dataMapKey = rowValue['강번'];\n    \n    var dataMapObj = dataMap.get(dataMapKey);\n\n    if (dataMapObj !== undefined) {\n        var arrayKey = Array.from(dataMapObj.keys());\n        var arrayVal = Array.from(dataMapObj.values());\n        var arrayCount = 0;\n        for (var sub=0;sub<arrayTitle.length;sub++) {\n            if (arrayCount < arrayKey.length) {\n                if (sub%2 === 0) {\n                    if (arrayKey[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayKey[arrayCount];\n                } else if (sub%2 === 1) {\n                    if (arrayVal[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayVal[arrayCount++];\n                }\n            } else {\n                rowValue[arrayTitle[sub]] = 0;\n            }\n        }\n    }\n}\n// console.log(dbResult);\nmsg.payload = dbResult;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":900,"wires":[["24a2e4ec.12e4ac"]]},{"id":"515697fb.6d65a8","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1750,"y":900,"wires":[]},{"id":"b55a6bf8.ec54b8","type":"function","z":"dd48b724.c803f8","name":"[Temperator - KR] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + date + \"_TEMP_KR.csv\"\n//20181023\nvar sql_front = \"select distinct t1.time, t2.charge_no, t1.sno, t1.temp from t_ladle_capture_1 as t1 left outer join t_msg_history as t2 on t1.time = t2.time where DATE(t1.time) = '\";\nvar sql_last = \"' order by t1.time asc\"\n\nmsg.payload = \"\\ufeff\"\nmsg.topic = sql_front + date + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1340,"wires":[["35ea81cb.4066be","f87aea67.986b48"]]},{"id":"a32090c6.6ea41","type":"function","z":"dd48b724.c803f8","name":"ALY-Query-Make","func":"flow.set('dbResultLFEN',msg.payload);\nvar date = msg.date;\n\nvar schema = global.get(\"Schema_Append_ALY_LF_EN\");\nvar columns;\nvar titles;\nvar sql_front = \"select \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by\" + global.get(\"groupby_ALY\")\nvar sql_order = \" order by \" + global.get(\"orderby\");\nvar table;\nfor (var count_main = 0;count_main<schema.length;count_main++) {\n    table = schema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === schema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column];\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \",\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1660,"wires":[["ba9aa32f.6bcd9"]]},{"id":"ba9aa32f.6bcd9","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1150,"y":1660,"wires":[["d8d4c97f.ad4bd8"]]},{"id":"d8d4c97f.ad4bd8","type":"function","z":"dd48b724.c803f8","name":"ALY-Object-Add","func":"var data = msg.payload;\nvar dataMap = new Map();\nvar object;\n\nvar value;\nvar dataMapKey;\nvar type;\nvar valueMap;\n\nfor (var count=0;count < data.length;count++) {\n    object = data[count];\n    var arrayValue = Object.values(object);\n    valueMap = dataMap.get(object.CHARGE_NO);\n    if (valueMap === undefined)\n        valueMap = new Map();\n    \n    // console.log(valueMap);\n    for (var aCount=0;aCount<arrayValue.length;aCount++) {\n        value = arrayValue[aCount];\n        if (aCount === 0) {\n            dataMapKey = value;\n            continue;\n        }\n        if (aCount % 2 === 1) {\n            if (value === 0 || value === null || value == undefined)\n                continue;\n            type = value;\n        } else if (aCount % 2 === 0) {\n            if (type === 0 || type === undefined || value === null || value == undefined)\n                continue;\n            var temp = valueMap.get(type);\n            if (temp === undefined) {\n                valueMap.set(type, value);\n            } else {\n                valueMap.set(type, value + temp);\n            }\n        }\n    }\n    dataMap.set(dataMapKey, valueMap);\n}\n\nvar dbResult = flow.get('dbResultLFEN');\nvar schema = global.get(\"Schema_Append_ALY_LF_EN\");\nvar arrayTitle = schema[1].title;\nfor (var count=0;count<dbResult.length;count++) {\n    var rowValue = dbResult[count];\n    var dataMapKey = rowValue['CHARGE_NO'];\n    \n    var dataMapObj = dataMap.get(dataMapKey);\n\n    if (dataMapObj !== undefined) {\n        var arrayKey = Array.from(dataMapObj.keys());\n        var arrayVal = Array.from(dataMapObj.values());\n        var arrayCount = 0;\n        for (var sub=0;sub<arrayTitle.length;sub++) {\n            if (arrayCount < arrayKey.length) {\n                if (sub%2 === 0) {\n                    if (arrayKey[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayKey[arrayCount];\n                } else if (sub%2 === 1) {\n                    if (arrayVal[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else {\n                        rowValue[arrayTitle[sub]] = arrayVal[arrayCount++];\n                    }\n                }\n            } else {\n                rowValue[arrayTitle[sub]] = 0;\n            }\n        }\n    }\n}\n// console.log(dbResult);\nmsg.payload = dbResult;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1660,"wires":[["78deecb1.f1dc54"]]},{"id":"78deecb1.f1dc54","type":"function","z":"dd48b724.c803f8","name":"MTL-Query-Make","func":"flow.set('dbResult',msg.payload);\nvar date = msg.date;\n\nvar schema = global.get(\"Schema_Append_MTL_LF_EN\");\nvar columns;\nvar titles;\nvar sql_front = \"select \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by\" + global.get(\"groupby_MTL\")\nvar sql_order = \" order by \" + global.get(\"orderby\");\nvar table;\nfor (var count_main = 0;count_main<schema.length;count_main++) {\n    table = schema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === schema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column];\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \",\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1660,"wires":[["168e90f3.f2d75f"]]},{"id":"168e90f3.f2d75f","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1710,"y":1660,"wires":[["d5c0f072.7327c"]]},{"id":"d5c0f072.7327c","type":"function","z":"dd48b724.c803f8","name":"MTL-Object-Add","func":"var data = msg.payload;\nvar dataMap = new Map();\nvar object;\n\nvar value;\nvar dataMapKey;\nvar type;\nvar valueMap;\n\nfor (var count=0;count < data.length;count++) {\n    object = data[count];\n    var arrayValue = Object.values(object);\n    valueMap = dataMap.get(object.CHARGE_NO);\n    if (valueMap === undefined)\n        valueMap = new Map();\n    \n    // console.log(valueMap);\n    for (var aCount=0;aCount<arrayValue.length;aCount++) {\n        value = arrayValue[aCount];\n        if (aCount === 0) {\n            if (value === undefined)\n                continue;\n            else {\n                dataMapKey = value;\n                continue;\n            }\n        }\n        if (aCount % 2 === 1) {\n            if (value === 0 || value === null || value == undefined)\n                continue;\n            type = value;\n        } else if (aCount % 2 === 0) {\n            if (type === 0 || type === undefined || value === null || value == undefined)\n                continue;\n            var temp = valueMap.get(type);\n            if (temp === undefined) {\n                valueMap.set(type, value);\n            } else {\n                valueMap.set(type, value + temp);\n            }\n        }\n    }\n    dataMap.set(dataMapKey, valueMap);\n}\n\nvar dbResult = flow.get('dbResult');\nvar schema = global.get(\"Schema_Append_MTL_LF_EN\");\nvar arrayTitle = schema[1].title;\nfor (var count=0;count<dbResult.length;count++) {\n    var rowValue = dbResult[count];\n    var dataMapKey = rowValue['CHARGE_NO'];\n    \n    var dataMapObj = dataMap.get(dataMapKey);\n\n    if (dataMapObj !== undefined) {\n        var arrayKey = Array.from(dataMapObj.keys());\n        var arrayVal = Array.from(dataMapObj.values());\n        var arrayCount = 0;\n        for (var sub=0;sub<arrayTitle.length;sub++) {\n            if (sub < arrayKey.length) {\n                if (sub%2 === 0) {\n                    if (arrayKey[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayKey[arrayCount];\n                } else if (sub%2 === 1) {\n                    if (arrayVal[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayVal[arrayCount++];\n                }\n            } else {\n                rowValue[arrayTitle[sub]] = 0;\n            }\n        }\n    }\n}\n// console.log(dbResult);\nmsg.payload = dbResult;\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":1660,"wires":[["e4929bc5.100958"]]},{"id":"5e3ed238.03a81c","type":"function","z":"dd48b724.c803f8","name":"ALY-Query-Make","func":"flow.set('dbResultRHEN',msg.payload);\nvar date = msg.date;\n\nvar schema = global.get(\"Schema_Append_RH_EN\");\nvar columns;\nvar titles;\nvar sql_front = \"select \";\nvar sql_columns = \"\";\nvar sql_from = \" from \";\nvar sql_on = \" on \"\nvar str_title = \"\";\nvar sql_where = \" where \";\nvar group_by = \" group by\" + global.get(\"groupby_ALY\")\nvar sql_order = \" order by \" + global.get(\"orderby\");\nvar table;\nfor (var count_main = 0;count_main<schema.length;count_main++) {\n    table = schema[count_main];\n    columns = table.column;\n    titles = table.title;\n    for (var count_column=0;count_column<columns.length;count_column++) {\n        if (count_column + 1 === columns.length && count_main + 1 === schema.length) {\n            sql_columns += table.table_title + \".\" + columns[count_column];\n            str_title += titles[count_column];\n        } else {\n            sql_columns += table.table_title + \".\" + columns[count_column] + \",\";\n            str_title += titles[count_column] + \",\";\n        }\n    }\n    if (count_main === 0) {\n        sql_from += table.table + \" \" + table.table_title;\n        sql_on += table.table_title + \".CHARGE_NO\" + \" = \";\n        sql_where += \"DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    } else {\n        sql_from += \" left outer join \" + table.table + \" \" + table.table_title + sql_on + table.table_title + \".CHARGE_NO\";\n        // sql_where += \" or DATE(\" + table.table_title  + \".time)= '\" + date + \"'\";\n    }\n}\n\nmsg.topic = sql_front + sql_columns + sql_from + sql_where + group_by + sql_order;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1720,"wires":[["d452ce57.a687c"]]},{"id":"d452ce57.a687c","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1150,"y":1720,"wires":[["daf313.f708dcf"]]},{"id":"daf313.f708dcf","type":"function","z":"dd48b724.c803f8","name":"ALY-Object-Add","func":"var data = msg.payload;\nvar dataMap = new Map();\nvar object;\n\nvar value;\nvar dataMapKey;\nvar type;\nvar valueMap;\n\nfor (var count=0;count < data.length;count++) {\n    object = data[count];\n    var arrayValue = Object.values(object);\n    valueMap = dataMap.get(object.CHARGE_NO);\n    if (valueMap === undefined)\n        valueMap = new Map();\n    \n    // console.log(valueMap);\n    for (var aCount=0;aCount<arrayValue.length;aCount++) {\n        value = arrayValue[aCount];\n        if (aCount === 0) {\n            dataMapKey = value;\n            continue;\n        }\n        if (aCount % 2 === 1) {\n            if (value === 0 || value === null || value == undefined)\n                continue;\n            type = value;\n        } else if (aCount % 2 === 0) {\n            if (type === 0 || type === undefined || value === null || value == undefined)\n                continue;\n            var temp = valueMap.get(type);\n            if (temp === undefined) {\n                valueMap.set(type, value);\n            } else {\n                valueMap.set(type, value + temp);\n            }\n        }\n    }\n    dataMap.set(dataMapKey, valueMap);\n}\n\nvar dbResult = flow.get('dbResultRHEN');\nvar schema = global.get(\"Schema_Append_RH_EN\");\nvar arrayTitle = schema[1].title;\nfor (var count=0;count<dbResult.length;count++) {\n    var rowValue = dbResult[count];\n    var dataMapKey = rowValue['CHARGE_NO'];\n    \n    var dataMapObj = dataMap.get(dataMapKey);\n\n    if (dataMapObj !== undefined) {\n        var arrayKey = Array.from(dataMapObj.keys());\n        var arrayVal = Array.from(dataMapObj.values());\n        var arrayCount = 0;\n        for (var sub=0;sub<arrayTitle.length;sub++) {\n            if (arrayCount < arrayKey.length) {\n                if (sub%2 === 0) {\n                    if (arrayKey[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayKey[arrayCount];\n                } else if (sub%2 === 1) {\n                    if (arrayVal[arrayCount] === undefined)\n                        rowValue[arrayTitle[sub]] = 0;\n                    else\n                        rowValue[arrayTitle[sub]] = arrayVal[arrayCount++];\n                }\n            } else {\n                rowValue[arrayTitle[sub]] = 0;\n            }\n        }\n    }\n}\n// console.log(dbResult);\nmsg.payload = dbResult;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1720,"wires":[["23714c0.90d26b4"]]},{"id":"23714c0.90d26b4","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"CHARGE_NO,RH_PRC_PAS_NUM,DSTL_LAD_NUM,SM_STEEL_GRD,RH_PRC_SEQ_NUM,RH_TVESS_USE_TIM,RH_LVES_USE_TIM,SM_SREF_RH_QUE_TM,RH_START_TM,RH_DEPT_TM,RH_TOTAL_TREAT_TM,SM_SREF_RHOB_A_RFEX_TM,RH_DEPT_DT,RH_MSE_TIM_MSE_DT_1,RH_MSE_TIM_MSE_TM_1,RH_MSE_TIM_MSE_DT_2,RH_MSE_TIM_MSE_TM_2,RH_MSE_TIM_MSE_DT_3,RH_MSE_TIM_MSE_TM_3,RH_MSE_TIM_MSE_DT_4,RH_MSE_TIM_MSE_TM_4,CC_TUND_NUM,CAST_NO,TUND_PHT_TM,LAD_INJ_SAT_DT,TUND_TM_MSE_TM_1,TUND_M_STE_MSE_TM_1,ALY_HOPPER_CODE1,ALY_HOPPER_WGT1,ALY_HOPPER_CODE2,ALY_HOPPER_WGT2,ALY_HOPPER_CODE3,ALY_HOPPER_WGT3,ALY_HOPPER_CODE4,ALY_HOPPER_WGT4,ALY_HOPPER_CODE5,ALY_HOPPER_WGT5","skip":"0","x":1490,"y":1720,"wires":[["5e40cbac.b6b5d4"]]},{"id":"5e40cbac.b6b5d4","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1630,"y":1720,"wires":[]},{"id":"4b36f76d.8a6c68","type":"switch","z":"dd48b724.c803f8","name":"TC_CODE = 3110, 3111","property":"tag","propertyType":"msg","rules":[{"t":"eq","v":"3110","vt":"str"},{"t":"eq","v":"3111","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":720,"wires":[["40c4abd5.b98604"],["a9553ecd.e03e"]]},{"id":"40c4abd5.b98604","type":"function","z":"dd48b724.c803f8","name":"TC-CODE 3110","func":"var dataFormat = global.get(\"LF_ALY\");\nvar dataSet = msg.fields;\nvar sql_front = \"insert into \";\nvar sql_middle = \" values \"\nvar values = \"\";\n\nfunction makeSQLQuery() {\n    var sql_column = \"(\";\n    var sql_values = \"\";\n    \n    var column1 = \"\";\n    var column2 = \"\";\n    for (var count=0;count < dataFormat.dbschema.length;count++) {\n        var column = dataFormat.dbschema[count];\n        if (count +1 === dataFormat.dbschema.length) {\n            sql_column += column + \")\"\n        } else {\n            sql_column += column + \",\"\n        }\n        if (count === 0)\n            column1 = column;\n        else if (count === 1)\n            column2 = column;\n    }\n    console.log(sql_column);\n    console.log(column1 + \"-\" + column2);\n    var chargeNo = dataSet[column1];\n    var op_tm = dataSet[column2];\n    var type = \"\";\n    for (var count=0;count < dataFormat.wgt.length;count++) {\n        var value = dataFormat.wgt[count];\n        if (count % 2 === 0) {\n            type = dataSet[value];\n        } else {\n            if (count+1 === dataFormat.wgt.length)\n                sql_values += \"('\" + chargeNo + \"','\" + op_tm + \"',\" + type + \",\" + dataSet[value] + \")\"\n            else\n                sql_values += \"('\" + chargeNo + \"','\" + op_tm + \"',\" + type + \",\" + dataSet[value] + \"),\"\n        }\n    }\n    console.log(sql_values);\n    return sql_front + dataFormat.db + sql_column + sql_middle + sql_values;\n}\n\n// var dbSchema = dataFormat.dbschema;\n// var dataTitle = dataFormat.wgt;\n// var optm = dataFormat.op_tm;\nmsg.topic = makeSQLQuery();\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":700,"wires":[["ae2d62a2.95af2"]]},{"id":"ae2d62a2.95af2","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":1190,"y":720,"wires":[[]]},{"id":"a9553ecd.e03e","type":"function","z":"dd48b724.c803f8","name":"TC-CODE 3111","func":"var dataFormat = global.get(\"LF_MTL\");\nvar dataSet = msg.fields;\nvar sql_front = \"insert into \";\nvar sql_middle = \" values \"\nvar values = \"\";\n\nfunction makeSQLQuery() {\n    var sql_column = \"(\";\n    var sql_values = \"\";\n    \n    var column1 = \"\";\n    var column2 = \"\";\n    for (var count=0;count < dataFormat.dbschema.length;count++) {\n        var column = dataFormat.dbschema[count];\n        if (count +1 === dataFormat.dbschema.length) {\n            sql_column += column + \")\"\n        } else {\n            sql_column += column + \",\"\n        }\n        if (count === 0)\n            column1 = column;\n        else if (count === 1)\n            column2 = column;\n    }\n    console.log(sql_column);\n    console.log(column1 + \"-\" + column2);\n    var chargeNo = dataSet[column1];\n    var op_tm = dataSet[column2];\n    var type = \"\";\n    for (var count=0;count < dataFormat.wgt.length;count++) {\n        var value = dataFormat.wgt[count];\n        if (count % 2 === 0) {\n            type = dataSet[value];\n        } else {\n            if (count+1 === dataFormat.wgt.length)\n                sql_values += \"('\" + chargeNo + \"','\" + op_tm + \"',\" + type + \",\" + dataSet[value] + \")\"\n            else\n                sql_values += \"('\" + chargeNo + \"','\" + op_tm + \"',\" + type + \",\" + dataSet[value] + \"),\"\n        }\n    }\n    console.log(sql_values);\n    return sql_front + dataFormat.db + sql_column + sql_middle + sql_values;\n}\n\n// var dbSchema = dataFormat.dbschema;\n// var dataTitle = dataFormat.wgt;\n// var optm = dataFormat.op_tm;\nmsg.topic = makeSQLQuery();\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":740,"wires":[["ae2d62a2.95af2"]]},{"id":"b3c9eea9.b2c09","type":"function","z":"dd48b724.c803f8","name":"[LF(ALY) - KR] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + date + \"_ALY_KR.csv\"\n\n\nvar sql_front = \"select CHARGE_NO as '강번', ALY_HOPPER_ED_TM as '합금철 투입 시점', ALY_HOPPER_CODE as  '합금철 투입 종류', ALY_HOPPER_WGT as '합금철 투입량' from t_LF_ALY \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1020,"wires":[["842c0c8.9a9e3f","f87aea67.986b48"]]},{"id":"35ea81cb.4066be","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":910,"y":960,"wires":[["9a55d2ad.bf25e"]]},{"id":"39c82f.3a2ea7d2","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":910,"y":840,"wires":[["d7ea04e5.41aef8"]]},{"id":"67178b35.45a7c4","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1190,"y":1020,"wires":[]},{"id":"c513020.96038","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"강번, 합금철 투입 시점, 합금철 투입 종류, 합금철 투입량","skip":"0","x":1050,"y":1020,"wires":[["67178b35.45a7c4"]]},{"id":"842c0c8.9a9e3f","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":910,"y":1020,"wires":[["c513020.96038"]]},{"id":"58e709bf.b35c58","type":"function","z":"dd48b724.c803f8","name":"[LF(MTL) - KR] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + date + \"_MTL_KR.csv\"\n\n\nvar sql_front = \"select CHARGE_NO as '강번', MTL_HOPPER_ED_TM as '부원료 투입 시점', MTL_HOPPER_CODE as  '부원료 투입 종류', MTL_HOPPER_WGT as '부원료 투입량' from t_LF_MTL \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by MTL_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1080,"wires":[["f87aea67.986b48","6ddc53cb.89c7bc"]]},{"id":"6e12435e.076c9c","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1190,"y":1080,"wires":[]},{"id":"3e8067cc.efa968","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"강번, 부원료 투입 시점, 부원료 투입 종류, 부원료 투입량","skip":"0","x":1050,"y":1080,"wires":[["6e12435e.076c9c"]]},{"id":"6ddc53cb.89c7bc","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":910,"y":1080,"wires":[["3e8067cc.efa968"]]},{"id":"e9f7f25b.94559","type":"function","z":"dd48b724.c803f8","name":"[LF(ALY) - KR] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + date + \"_ALY_KR.csv\"\n\n\nvar sql_front = \"select CHARGE_NO as '강번', ALY_HOPPER_ED_TM as '합금철 투입 시점', ALY_HOPPER_CODE as  '합금철 투입 종류', ALY_HOPPER_WGT as '합금철 투입량' from t_LF_ALY \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1400,"wires":[["842c0c8.9a9e3f","f87aea67.986b48"]]},{"id":"d4c8529.bdc20b","type":"function","z":"dd48b724.c803f8","name":"[LF(MTL) - KR] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + date + \"_MTL_KR.csv\"\n\n\nvar sql_front = \"select CHARGE_NO as '강번', MTL_HOPPER_ED_TM as '부원료 투입 시점', MTL_HOPPER_CODE as  '부원료 투입 종류', MTL_HOPPER_WGT as '부원료 투입량' from t_LF_MTL \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by MTL_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1460,"wires":[["6ddc53cb.89c7bc","f87aea67.986b48"]]},{"id":"508dc746.6f5a08","type":"function","z":"dd48b724.c803f8","name":"[LF(ALY) - EN] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + \"EN_\" + date + \"_ALY.csv\"\n\n\nvar sql_front = \"select CHARGE_NO, ALY_HOPPER_ED_TM , ALY_HOPPER_CODE, ALY_HOPPER_WGT from t_LF_ALY \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1780,"wires":[["2417f20.7cf660e"]]},{"id":"9a802d1e.40e91","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1210,"y":1780,"wires":[]},{"id":"4a5ce604.549d38","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"CHARGE_NO, ALY_HOPPER_ED_TM, ALY_HOPPER_CODE, ALY_HOPPER_WGT","skip":"0","x":1070,"y":1780,"wires":[["9a802d1e.40e91"]]},{"id":"2417f20.7cf660e","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":930,"y":1780,"wires":[["4a5ce604.549d38"]]},{"id":"715b1285.3d42ec","type":"function","z":"dd48b724.c803f8","name":"[LF(MTL) - EN] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + \"EN_\" + date + \"_MTL.csv\"\n\n\nvar sql_front = \"select CHARGE_NO, MTL_HOPPER_ED_TM, MTL_HOPPER_CODE, MTL_HOPPER_WGT from t_LF_MTL \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by MTL_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1840,"wires":[["d4ed4df5.0f85d"]]},{"id":"7121b3fa.24c75c","type":"file","z":"dd48b724.c803f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1210,"y":1840,"wires":[]},{"id":"43710f81.5f7f1","type":"csv","z":"dd48b724.c803f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"CHARGE_NO, MTL_HOPPER_ED_TM, MTL_HOPPER_CODE, MTL_HOPPER_WGT","skip":"0","x":1070,"y":1840,"wires":[["7121b3fa.24c75c"]]},{"id":"d4ed4df5.0f85d","type":"mysql","z":"dd48b724.c803f8","mydb":"da99933d.e3864","name":"","x":930,"y":1840,"wires":[["43710f81.5f7f1"]]},{"id":"b4e7d759.227058","type":"function","z":"dd48b724.c803f8","name":"[LF(ALY) - EN] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + \"EN_\" + date + \"_ALY.csv\"\n\n\nvar sql_front = \"select CHARGE_NO, ALY_HOPPER_ED_TM , ALY_HOPPER_CODE, ALY_HOPPER_WGT from t_LF_ALY \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2080,"wires":[["2417f20.7cf660e"]]},{"id":"cf5db5e3.0b3238","type":"function","z":"dd48b724.c803f8","name":"[LF(MTL) - EN] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + \"EN_\" + date + \"_MTL.csv\"\n\n\nvar sql_front = \"select CHARGE_NO, MTL_HOPPER_ED_TM, MTL_HOPPER_CODE, MTL_HOPPER_WGT from t_LF_MTL \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by MTL_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2140,"wires":[["d4ed4df5.0f85d"]]},{"id":"98f4d87e.b61528","type":"function","z":"dd48b724.c803f8","name":"[RH(ALY) - EN] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + \"EN_\" + date + \"_ALY_RH.csv\"\n\n\nvar sql_front = \"select CHARGE_NO, ALY_HOPPER_ED_TM, ALY_HOPPER_CODE, ALY_HOPPER_WGT from t_msg_3147 \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1900,"wires":[["2417f20.7cf660e"]]},{"id":"1a09ec04.cefee4","type":"function","z":"dd48b724.c803f8","name":"[RH(ALY) - EN] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + \"EN_\" + date + \"_ALY_RH.csv\"\n\n\nvar sql_front = \"select CHARGE_NO, ALY_HOPPER_ED_TM, ALY_HOPPER_CODE, ALY_HOPPER_WGT from t_msg_3147 \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2200,"wires":[["2417f20.7cf660e"]]},{"id":"83256544.ac8f38","type":"function","z":"dd48b724.c803f8","name":"[RH(ALY) - KR] Create Today Data Query","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + \"-\" + checkZeroTime(nowTime.getMonth()+1) + \"-\" + checkZeroTime(nowTime.getDate());\n}\n\nvar path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = nowDateFormat();\nmsg.filename = path + date + \"_ALY_RH_KR.csv\"\n\n\nvar sql_front = \"select CHARGE_NO as '강번', ALY_HOPPER_ED_TM as '합금철 투입 시점', ALY_HOPPER_CODE as  '합금철 투입 종류', ALY_HOPPER_WGT as '합금철 투입량' from t_msg_3147 \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1520,"wires":[["f87aea67.986b48","842c0c8.9a9e3f"]]},{"id":"39b301b7.a8dc7e","type":"function","z":"dd48b724.c803f8","name":"[RH(ALY) - KR] Create Today Data Query","func":"var path = global.get(\"baseDataPath\");\nvar fs = global.get(\"mkdirp\");\n\nfs(path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\nvar date = msg.payload;\nmsg.filename = path + date + \"_ALY_RH_KR.csv\"\n\n\nvar sql_front = \"select CHARGE_NO as '강번', ALY_HOPPER_ED_TM as '합금철 투입 시점', ALY_HOPPER_CODE as  '합금철 투입 종류', ALY_HOPPER_WGT as '합금철 투입량' from t_msg_3147 \";\nvar sql_where = \"where DATE(time) = '\" + date + \"'\";\nvar sql_last = \" order by ALY_HOPPER_ED_TM asc\";\n\nmsg.topic = sql_front + sql_where + sql_last;\nmsg.payload = \"\\ufeff\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1140,"wires":[["f87aea67.986b48","842c0c8.9a9e3f"]]}]